[2017-08-31 17:00] MostAwesomeDude opened #1 "Tricky SyntaxErrors"
These are some of my treasures, discovered while implementing a Python parser years ago.

First, the "surprising comma."

Codepad: http://codepad.org/JiFQi7vr
[code]

Technically only `f(*args,)` or `f(**kwargs,)` is needed to tickle this one.

Second, the "not knot."

Codepad: http://codepad.org/IA7k5jEg
[code]

Again, a smaller test case, like `x == not y`, will provoke it.

[2017-08-31 17:04] kirbyfan64 opened #2 "Slight wording issue in README"
Notice the string-specific part is duplicated in the last two sentences.

[2017-08-31 17:11] 0916174 opened #3 "Typo in python code"
At one point in the README.md, you state:

[code]

but I believe the correct order would be

[code]

[2017-08-31 17:18] satwikkansal commented on #2
yeah, thanks for reporting :)

[2017-08-31 17:19] satwikkansal commented on #3
Ah, this is bad... fixing it right away!

[2017-08-31 17:20] alessandrocuzzocrea opened #4 "Typo in CONTRIBUTING.md"
Adding spell is wrong.

[2017-08-31 17:23] #3 closed

[2017-08-31 17:24] satwikkansal commented on #2
Fixed :+1:

[2017-08-31 17:24] #2 closed

[2017-08-31 17:44] satwikkansal commented on #1
Hey @MostAwesomeDude I really liked your "knot not" treasure, but not sure if I understood correctly the "surprising comma" one. As far as I understand, "having a trailing comma after *args or *kwargs is not a valid syntax". But I guess you're trying to show something more than that in that example which I'm not able to catch. Could you please explain :sweat_smile:

[2017-08-31 18:01] #4 closed

[2017-08-31 20:01] PiaFraus opened #9 "Feature Request: Could you add the famous (a, b) = a[b] = {}, 5 please?"
I think this one is great and majority of python developers don't ever manage to guess the correct result of
this expression:
(a, b) = a[b] = {}, 5

https://stackoverflow.com/questions/32127908/python-assignment-operator-precedence-a-b-ab-5

[2017-08-31 20:29] maniexx opened #10 "Explanation for "Time for some hash brownies!" is insufficient"
The current explanation seems to imply that any two values with equal hashes will take up the same slot in the dict. This is, fortunately, not true.
example:
[code]

The actual reason `0.0 `overwrites `0`, is that they are equal.

[code]
I don't quite know how to put all that concisely, without losing the interesting lesson about hash values.
Any suggestions welcome.

[2017-08-31 21:11] satwikkansal commented on #9
Yeah, this seems like "Hell of an example?", working on it :+1:

[2017-08-31 21:12] tukkek opened #11 "Feature request: trying to change the index variable in a for loop"
Hello! After finding a link to your project today on reddit I have decided to give another go at a previous project of mine, now using your document format as inspiration! While doing my research I have come across something that I think would fit well in your list. Here it is:

[code]

This is taken from the Python manual itself, which in itself makes it notable. This might not come as a surprise

[2017-08-31 22:21] #9 closed

[2017-08-31 22:28] satwikkansal commented on #9
Hey @PiaFraus, added this example to the `README.md` in 3cdc9ac Feel free to reopen the issue if you think I missed something. And Thanks for the suggestion :)

[2017-08-31 22:29] PiaFraus commented on #9
Nope. That looks great. Thanks.

[2017-08-31 22:43] beriukay opened #13 "Explicit Typecast Of Strings Quibble"
In my python 2.7 interpreter I get a different output:

0

0.0

Not sure if that's a version thing, a typo, or something else.

[2017-08-31 22:48] satwikkansal commented on #1
I kinda prepared draft for the "not knot" one

### not knot.

Originally suggested by @MostAwesomeDude in [this](https://github.com/satwikkansal/wtfPython/issues/1) issue.

[code]

**Output:**
[code]

#### 💡 Explanation:

* Operator precedence affects how an expression is evaluated, and `==` operator has higher precedence than `not` operator in Python.
* So `not x == y` is equivalent to `not (x ==

[2017-08-31 22:59] satwikkansal commented on #13
Ah, that's a typo. float(`inf`) is a `float` and the result of `50/float('inf')` should also be float.

[2017-08-31 23:03] #13 closed

[2017-09-01 00:14] MostAwesomeDude commented on #1
Hi!

The surprising comma is surprising because, normally, these sorts of commas are not a problem. In two similar situations, the trailing commas are legal:

[code]

[code]

And one might expect that a trailing comma is *always* legal in argument lists. However, due to the way that the Python syntax is designed, the argument list is defined partially with leading commas and partially with trailin

[2017-09-01 09:00] satwikkansal commented on #1
I see, a final question, would it be correct to say that "parser expected the `not` to be part of `not in` operator (because both `==` and `not in` had same precedence), and after not being able to find the following `in` token after `not`, it raised an SyntaxError.

[2017-09-01 09:21] #11 closed

[2017-09-01 09:34] satwikkansal commented on #11
Hey @tukkek, Thanks for your suggestion. I've added the example in the commit ba2238cf . Feel free to suggest corrections (if any).

Sure, I looked over your project and it seems very interesting. Right now, I'm a bit overwhelmed with response on this project and my ongoing campus placements. But I'll definitely sit back some day, carefully read through your work, and try to contribute to the proj

[2017-09-01 09:38] satwikkansal commented on #10
Yeah, I missed a very important detail. I'll try to come up with a more concise explanation.

[2017-09-01 15:12] nolar opened #16 ""Deleting a list item while iterating over it" has improper example or explanation"
In the "Deleting a list item while iterating over it" trick, in the `list_1` example, `del` actually deletes the `item` variable name. The name will be reassigned to the next value on the next iteration, but will be absent up to the end of the code block after the `del item` statement. No operator even tries to delete from the `list_1`, and the list remains unaffected.

There are 2 possible ways t

[2017-09-01 16:00] stefanos82 opened #17 "A kind suggestion"
Can you please make it explicit which Python version produces these "what the heck" results?

I have tested the very first example, named `Skipping Lines` and produces `32` instead of `11`.

This behavior you produce is for `Python 2.7`.

[2017-09-01 16:34] tmpbook opened #18 "Can I translate it into Chinese?"
I just forked it.

[2017-09-01 16:41] satwikkansal commented on #18
Hey @tmpbook, sure. The project WTFPL licensed, you can do whatever you want to (though just a simple reference to this project in your work will be highly appreciated). Let me know if you need any other help regarding this :)

[2017-09-01 16:46] satwikkansal commented on #17
The python version is mentioned over [here](https://github.com/satwikkansal/wtfPython/blame/master/README.md#L117) (it's `3.4.5`)

[2017-09-01 16:48] satwikkansal commented on #17
You won't be able to reproduce the first example with a standard keyboard. A copy-paste should work https://github.com/satwikkansal/wtfPython/blame/master/README.md#L174

[2017-09-01 16:48] satwikkansal commented on #17
Thanks, for reporting this, I'll update these details so that they are clearly visible :+1:

[2017-09-01 16:52] tmpbook commented on #18
@satwikkansal Sure, thank you. 😝

[2017-09-01 16:58] #17 closed

[2017-09-01 17:00] satwikkansal commented on #17
@stefanos82 I've addressed your suggestions in 82bbded commit. If that still doesn't work for you, feel free to reopen the issue :)

[2017-09-01 17:20] satwikkansal commented on #18
Okay, closing this for now. Feel free to open a new issue if required :+1:

[2017-09-01 17:20] #18 closed

[2017-09-01 18:34] stefanos82 commented on #17
Very nice. I will test the entire thing as much as possible.

By the way, you have a typo; it should be `file/shell`, but you mistype an extra `l` that end of the the word.

Cheers.

[2017-09-01 18:36] satwikkansal commented on #17
Ugh.. another typo! Will fix it asap. Thanks for letting me know.

Cheers!

[2017-09-01 21:40] MostAwesomeDude commented on #1
I worry that it glosses over how parsers work, but OTOH I don't really expect folks to understand how parsers work, so sure, that's close enough.

[2017-09-01 22:04] topin89 commented on #10
There is also this:
[code]

[2017-09-01 23:39] amoghskulkarni commented on #18
Sorry for being a grammar nazi, but the grammatically correct English will be "Do *Whatever* The Fuck You Want To Public License". :sweat_smile:

Amazing work by the way! Keep going! 👍

[2017-09-02 10:15] satwikkansal commented on #18
Haha, Thanks :)

[2017-09-02 10:20] satwikkansal commented on #16
Ah, right, my only intention to add `del` was to show the abuse of the `del` keyword. I'll fix the explanation.

[2017-09-02 15:33] tmpbook opened #22 "Why there is a 💡 before some of the "Explanation"."
What is the different?

https://github.com/satwikkansal/wtfpython#-explanation
https://github.com/satwikkansal/wtfpython#explanation

[2017-09-02 17:23] maniexx commented on #10
@topin89 oh yeah that is NaN being NaN - a whole other thing, so perhaps I didn't choose the best example, but that was what came to mind.

[2017-09-02 18:01] MitalAshok opened #23 "Feature request: Complicated variable assignment in for loops"
Normally in a for loop, you just do `for <variable_name> in iterable:`, but you can also do use anything that is a valid assignment target (An "lvalue" in C). Like `for f()(g)[t].x in seq:` is perfectly valid syntax.

Here is a draft:

---

# For what?

1.

[code]

**Output:**

[code]

2.

[code]

**Output:**

[code]

#### 💡 Explanation:

* A `for` statement is defined in the [Python grammar](http

[2017-09-02 18:12] satwikkansal commented on #22
Ah, I like that :bulb: character, actually it was supposed be before all of the "Explanation" but I think it got missed in some find replace thing I was doing. Will fix it asap. Thanks for reporting.

[2017-09-02 20:02] #22 closed

[2017-09-03 04:01] tukkek commented on #11
Sure thing Satwik, feel free to drop by whenever! You'll be more than welcome!

[2017-09-03 18:48] tukkek opened #26 "Deleting your own variables"
Found something new for you! So it turns out you can run this code:

[code]

Not sure you'll want to add it to the list because it's unlikely anyone would do that - but it is technically interesting in itself because as far as I know Python is the only language that will let you destroy a local variable (or even function argument!) instead of just letting it expire and be garbage-collected when th

[2017-09-04 17:19] satwikkansal commented on #1
Hey, I've added the Not Knot! example in the commit 6abfb50 :tada: Please feel free to suggest changes (if any).

And here's a draft I prepared for the "The surprising comma" one.

### The surprising comma

Suggested by @MostAwesomeDude in [this](https://github.com/satwikkansal/wtfPython/issues/1) issue.

**Output:**
[code]

#### 💡 Explanation:

- Trailing comma is not always legal in formal param

[2017-09-04 18:11] #10 closed

[2017-09-04 18:12] satwikkansal commented on #10
@maniexx Added a more accurate explanation for the example. Feel free to reopen the issue if you think it's still insufficient or incorrect :)

[2017-09-04 18:36] #16 closed

[2017-09-04 18:37] satwikkansal commented on #16
@nolar Thanks for reporting the issue! I've fixed this in 7e93e0c, feel free to reopen the issue if the explanation seems insufficient or incorrect :+1:

[2017-09-04 19:23] #23 closed

[2017-09-04 19:26] satwikkansal commented on #23
Hey @MitalAshok Thanks for this cool suggestion. I've added your example in 753d0b6 . For brevity of the overall contents of the collection, I had to skip some of the content.

If you think it's missing something, or something is incorrect, feel free to reopen the issue.
Cheers!

[2017-09-04 20:06] maniexx commented on #10
@satwikkansal it's great!

[2017-09-05 17:45] uranusjr commented on #1
Probably should mention the trailing comma problem is [fixed in Python 3.6](https://bugs.python.org/issue9232).

[2017-09-05 17:53] uranusjr commented on #26
A more subtle example:

[code]

[code]

This is because variable capture happens on execution, not declaration. `foo` is deleted when the module is loaded (and all global code in it evaluated).

[2017-09-05 18:10] uranusjr opened #30 "Nitpicking and minor suggestions"
Might want to add that `++a` and `--a` are both valid Python (given `a` is a number), but isn’t what you probably think they are (increment/decrement).

This is possible because strings are [*sequences*](https://docs.python.org/3/glossary.html#term-sequence), not iterables (although they are iterables as well).

This is not accurate. Python threads do run concurrently, but can’t run *Python code*

[2017-09-06 08:08] satwikkansal commented on #30
@uranusjr Thank you so much for these nitpickings. I will fix these issues asap.

[2017-09-06 09:22] chris-rands opened #32 "Add section explaining 'yield' in list comp/generator exp"
These examples illustrate what for me is one of the most confusing behaviours in the whole of Python:

[code]

A relevant [SO question](https://stackoverflow.com/questions/32139885/yield-in-list-comprehensions-and-generator-expressions) and [bug report](http://bugs.python.org/issue10544)

[2017-09-06 11:11] #1 closed

[2017-09-06 11:11] #30 closed

[2017-09-06 11:15] satwikkansal commented on #30
@uranusjr I've tried to address your suggestions in the commits 5467a67, 24c4a64 and cc3eb36 :tada: Please feel free to reopen the issue if they are insufficient or inaccurate.

[2017-09-06 11:17] satwikkansal commented on #1
Thank you so much @MostAwesomeDude for the examples from your "treasure". I've added both of them in the commits be98d88 and 6abfb50. Please feel free to reopen the issue if you think the explanations/snippets are insufficient or inaccurate.

[2017-09-07 11:09] satwikkansal opened #35 "Help to make the collection more interesting"
The aim of this project to make the readers aware of the intricacies of Python in as interesting manner as possible. Anyone is more than welcome to help and enhance this awesome project by

- Suggesting fancy titles for the existing examples.
- Suggesting more tricky snippets for the existing examples.
- Suggesting new examples (Don't worry, You'll be given due credits for your treasury examples 😅

[2017-09-07 16:13] Lucas-C opened #36 "A few suggestions"
Hi.

Just a few "gotcha" suggestions from my personal collection ^^
Tell me which ones are worth a PR:
[code]

[2017-09-07 18:46] zed opened #38 ""Let's make a giant string!" code example is not representative"
`add_string_with_plus()` and `add_string_with_join()` take the same time in the example. It implies that CPython's `+=` optimization is in effect (unrelated to the example in the very next section with a possibly  misleading title: ["String concatenation interpreter optimizations"](https://github.com/satwikkansal/wtfpython#string-concatenation-interpreter-optimizations) -- the example is more abou

[2017-09-08 09:58] bastiaan85 opened #39 "Some Unicode characters look identical to ASCII ones"
In the 'Skipping lines' example (the first one), the following explanation is given as to why the two 'value' variables name aren't the same:

Imho this paints the wrong picture. ASCII is an encoding, Unicode is a character collection. ASCII isn't a synonym for [the English alphabet](https://en.wikipedia.org/wiki/English_alphabet). In Python 3, all strings are Unicode, it has lost the relation to

[2017-09-11 16:03] satwikkansal commented on #39
Agreed. Your explanation is more accurate and the example seems to be more relevant to the explanation. Will update this soon. :+1:

[2017-09-11 16:11] #39 closed

[2017-09-11 16:13] satwikkansal commented on #39
Hey @bastiaan85, Thank you so much for pointing this out. 76da1b8 has the changes as per your suggestions, feel free to reopen the issue if something is incorrect or missing :)

[2017-09-11 16:44] satwikkansal commented on #38
Ah, Thanks for such an detailed analysis of the situation and relevant explanation. I'll try to put everything in a short example with concise explanation (a little occupied for next few days due to my campus placements).

[2017-09-11 17:03] satwikkansal commented on #36
Hey, thanks for the suggestions. I must say some of them are really cool and unique.

[code]
This one seems similar to https://github.com/satwikkansal/wtfpython#lets-see-if-you-can-guess-this

[code]
This actually felt weird to me initially, ( It is kinda expected for `issubclass` method to hold transitivity relationships). Anyways, I found an [explanation](https://www.naftaliharris.com/blog/pytho

[2017-09-11 17:06] satwikkansal commented on #36
[code]
Whoa, that `3.0` in the output is confusing me. Is it because of the floating point structure (just a guess)?
By the way, this also seems to be a good example to have if we have the reason of why it works just in Python2 and what causes it.

[2017-09-11 17:07] satwikkansal commented on #36
[code]
This one is super cool :sunglasses:

[2017-09-11 17:13] satwikkansal commented on #36
[code]

I was also planning to add similar examples related to memory allocation in Python. Here's another snippet one on the similar lines that I found on the internet
[code]
[Source](https://www.reddit.com/r/Python/comments/6x6upn/wtfpython_a_collection_of_interesting_and_tricky/dme96dq/)

These are definitely worth adding :+1:

[2017-09-11 17:15] satwikkansal commented on #36
[code]
um, why do you think it's a wtf? I feel like this is just a more polished behavior for a function like `json.loads`.

[2017-09-11 17:19] satwikkansal commented on #36
[code]
This seems good to add to the [Minor ones](https://github.com/satwikkansal/wtfpython#minor-ones) collection.

[2017-09-11 17:31] satwikkansal commented on #36
[code]
This can be added to minor ones as well.

[code]
Both of them are also good for the Minor ones collection.

[code]
This can be added to the snippet in https://github.com/satwikkansal/wtfpython#be-careful-with-chained-operations

[code]
hmm, I don't think it's a wtf, just a nice high level functionality to have, but still if you think that most of the people would find it as an unexpected be

[2017-09-11 17:37] satwikkansal commented on #36
Phew... @Lucas-C Thank you so much for sharing these gems. I'm a little stuck with my campus placements right now, otherwise I'd started to work on them straight away.

However, if you'll be able to manage some time to work on this issue, feel free to take it up and submit patches :)

[2017-09-12 08:42] bastiaan85 commented on #39
@satwikkansal : you're welcome, glad to be of help :)

[2017-09-12 09:10] Lucas-C commented on #36
Same for me :)
I just wanted to quickly share those snippets on this great repo,
but won't have time to send a PR before next month :(

[2017-09-12 09:43] satwikkansal commented on #36
Ah, never mind, I'll work on them one by one, whenever I get time :+1:

[2017-09-13 22:41] asottile opened #40 "Half triple-quoted strings"
https://github.com/asottile/wat/blob/303ea23f916dace0816ab521d3d11ed50bf0d6bb/python/half_triple_quoted_strings.py#L1-L5

Explain: implicit string joining

There's a few others in there that this repository already seems to have, nice collection :)

[2017-09-13 22:47] asottile commented on #36
NaN and Infinity, while valid floats are not part of the json spec:

[code]

[2017-09-14 11:15] satwikkansal commented on #40
Thanks @asottile, will add this in next iteration :+1: I went through some examples in your repository, seems interesting, would definitely like to go through in depth sometime and add the missing ones here (after your permission, of course).

[2017-09-14 11:17] satwikkansal commented on #36
Ah, I didn't knew that :(, then it's definitely worth adding :)

[2017-09-14 16:35] asottile commented on #40
By all means go for it!

[2017-09-26 12:07] zxdvd opened #41 "discrepancy about "Evaluation time discrepancy""
Hi,

I am testing about the interesting **Evaluation time discrepancy**, and I have a test like following:
[code]
And the result is
[code]
I tested it with python3 on osx and debian, and got same result.

It seems that only *a* is **evaluated at declaration time**? Or passed by reference?
Could someone give some detailed information about this?

[2017-09-27 06:48] zxdvd commented on #41
I digged a little about this and found something from generated byte code.
[code]

result
[code]

It seems that only the first `for i in X` is loaded from local scope(LOAD_FAST),  all other `for x in XX` and `if XX` are loaded from global scope(LOAD_GLOBAL).

[2017-10-03 12:56] satwikkansal commented on #35
Realized it's better to move such content to the issue template and Contributing guide, so, closing it for now.

[2017-10-03 12:56] #35 closed

[2017-10-11 10:09] satwikkansal opened #43 "Add Gitter channel information"
Just created a gitter channel for all those interested in discussions related to the project and Python in general.

https://gitter.im/wtfpython/Lobby

[2017-10-11 10:30] #43 closed

[2017-10-11 11:09] satwikkansal commented on #26
I came up with an example to illustrate the fact that `__del__` is not always called when `del` operator is encountered.

[code]

Explanation: https://docs.python.org/3/reference/datamodel.html#object.__del__

[2017-10-11 12:18] satwikkansal commented on #32
Ah, I went through the SO thread and the bug report but unfortunately couldn't come up with a simple and short explanation. So I think for the time being, it's better to link to the resources you shared. Meanwhile I'll try to come up with a simpler explanation with the help of examples.

[2017-10-11 12:19] #32 closed

[2017-10-11 12:20] satwikkansal commented on #32
@chris-rands Thanks for your suggestion. I've added this snippet in https://github.com/satwikkansal/wtfpython/pull/45, and will try my best to add a detailed explanation for the same.

[2017-10-11 13:19] #38 closed

[2017-10-11 13:25] satwikkansal commented on #38
Done :tada: Thanks a lot @zed. Please do let me know if there are any corrections/suggestions (ea29aa0)

[2017-10-11 17:18] #40 closed

[2017-10-17 14:42] rohithasrk opened #49 "Unable to replicate Skipping lines"
Which version of python has this been tested on? I'm unable to replicate it on python 2.7

[2017-10-20 10:27] satwikkansal commented on #49
Hey, you need to copy-paste those statements directly into your file/terminal and it should work.

[2017-10-20 10:30] rohithasrk commented on #49
Shows this.
![yes i did](https://user-images.githubusercontent.com/13820931/31816908-b9dffe6e-b5af-11e7-8ed3-808eee5569ab.png)

[2017-10-20 10:36] satwikkansal commented on #49
Well, are you sure that you copied the lines directly from the example in the README.md, because it should work then.

[2017-10-20 10:40] rohithasrk commented on #49
Okay. Got it. Thanks

[2017-10-20 10:40] #49 closed

[2017-10-26 07:19] guillaumededrie opened #51 "Question regarding "Let's see if you can guess this?" explanation?"
Hi,
Regarding the example:
[code]
In the document, it is said that "After the expression list is evaluated, it's value is unpacked to the target lists from left to right.".
If I get it right, there is two "target list" in the example, `a, b` and `a[b]`, and one expression `{}, 5`

So, if we break down the example, why it's not:
[code]
Can you enlighten me a little here?

Thanks a lot!
Guillaume

[2017-10-30 15:12] lzblack commented on #23
Great point!

The second example should work same as dictionary comprehension:

`some_string = "wtf"`
`some_dict = {i: letter for i, letter in enumerate(some_string)}`

[2017-11-08 07:00] satwikkansal commented on #51
Hey @guillaumededrie, sorry for a bit late reply.

a, b = {}, 5
a[b] = {}, 5

It's this way only, but notice that after the first assignment `a, b = {}, 5`, `a` is now a mutable empty `dict` and `b` is assigned to `5`. I think the point you are missing is the circular referencing. The statement `a[b] = {}, 5` that you mentioned is actually `a[b] = a, b`, thus creating a circular reference.

Here's

[2017-11-21 14:08] chris-rands commented on #32
@satwikkansal Thank you for incorporating my suggestion and apologies for not responding before; I don't think I can provide a better explanation than that given in the links but it might be worth adding that this behaviour described may change because this really is a bug and not a feature. As the bug report states, for PyPy these constructs now raise a `SyntaxWarning` (but not for CPython).

[2017-11-29 17:02] SnShine opened #52 "Regarding that TODO pypi package."
How about we show a random example every time the command is executed in command line? I guess it's more fun/useful than showing all at once. I can create a PR if you like.

[2017-12-06 20:35] satwikkansal commented on #52
Hey @SnShine

That's exactly what I had in mind. We can show up an example, and then make the user enter his guessed output, and finally show him the correct output with detailed explanation.

At the end, we can show the user some stats (like how many did he guessed correctly).

[2017-12-06 20:38] satwikkansal commented on #52
Let me know your thoughts on this and if you're interested in working upon this issue.

[2017-12-07 03:51] SnShine commented on #52
I don't think user entering the output is worth it. We need to have a mechanism to parse and validate user inputs. We can just show a random trick and explanation at once. Or we can we can show the trick and "Think about it and press enter to see the explanation." to show the explanation. What do you think?

[2017-12-07 06:57] satwikkansal commented on #52
umm makes sense, I agree that parsing different sorts of user inputs will be a pain and it's not really needed as of now.

I don't think we need randomness here (or maybe you have something in mind that I'm not able to catch up). Right now, I've tried to cluster similar examples. Moreover, some of the difficult tricks in the doc build upon the explanations from previous tricks, so a simple randomi

[2017-12-22 14:41] icemac opened #53 "Output of "Modifying a dictionary while iterating over it" is not correct for all Python versions"
The result shown in [Modifying a dictionary while iterating over it](https://github.com/satwikkansal/wtfpython/blob/master/README.md#modifying-a-dictionary-while-iterating-over-it) is correct for CPython 2.4 up to 3.5.

On Python 3.6 it prints

[code]

On PyPy 2.7 and PyPy 3 it prints

[code]

[2017-12-23 23:49] prehensilecode commented on #53
For Python 3.6.4 on macOS 10.12:

[code]

[2017-12-25 09:34] satwikkansal commented on #53
Hey @icemac, thanks for reporting this. I'll investigate the reason for different behavior in the latest versions of Python.

[2017-12-31 11:05] satwikkansal opened #54 "Add more snippets related to string interning"
[code]

[2017-12-31 11:07] satwikkansal commented on #51
Closing this due to inactivity, feel free to reopen if something is still unexplained (or seems incorrect).

[2017-12-31 11:07] #51 closed

[2017-12-31 11:09] satwikkansal commented on #36
Alright, time to make the collection more awesome 🚀

[2018-01-07 09:36] #36 closed

[2018-01-07 09:37] satwikkansal commented on #36
Thank you so much @Lucas-C  again for sharing them.

[2018-01-11 08:45] satwikkansal commented on #26
Hey guys, I've added the example for now (sorry for the extreme delay). Feel free to suggest any changes and reopen the issue.

[2018-01-11 08:45] #26 closed

[2018-01-11 09:02] satwikkansal commented on #41
Hey @zxdvd, that's a nice question (and sorry for extremely delayed response). I don't have much familiarity with assembly level codes, but I think you're right about `for i in x` being loaded from global scope and `for x in y` and `if y` being loaded from global scope.

Anyways, I'll keep this issue open while I try to read more about it or maybe someone familiar with this who can confirm/correct

[2018-01-11 09:43] satwikkansal commented on #53
Okay, I dug up a little and found these differences in the implementation between Python `3.5` and `3.6` which explains the behavior.

In both the CPython versions, the hash table for dictionary starts with a size of 8 ([Python 3.6.1](https://github.com/python/cpython/blob/v3.6.1/Objects/dictobject.c#L103-L110) and [Python 3.5.1](https://github.com/python/cpython/blob/v3.5.1/Objects/dictobject.c#L

[2018-01-11 16:48] #54 closed

[2018-01-26 05:47] Plumbob opened #57 "Cannot reproduce "wtf"*bool example"
In [Part 3 of  "What is wrong with booleans?"](https://github.com/satwikkansal/wtfpython#-whats-wrong-with-booleans) there's the following example:

    'wtf'

    ''

I'm unable to reproduce this with either 2.7.10 nor 3.6.4:

    Python 2.7.10 (default, Jul 15 2017, 17:16:57)
    IPython 5.5.0 -- An enhanced Interactive Python.

    In [1]: some_bool = True

    In [2]: "wtf"*some_bool
    Out[2

[2018-01-26 05:52] satwikkansal commented on #57
Oh, that's my fault actually. It's missing a statement `some_bool = False`. Fixed it right away! Thanks for pointing it out @Plumbob  and I'm glad that you liked the project.

[2018-01-26 05:53] #57 closed

[2018-01-29 02:27] simpleapples opened #62 "output of "Strings can be tricky sometimes" is incorrect"
on python3.6.3 and python2.7.10
[code]

[2018-01-29 10:13] satwikkansal commented on #62
Hey @simpleapples

Thanks for creating the issue. Could you please check it again? Because I've tried in my interpreter at it outputs `False` (as expected)

![image](https://user-images.githubusercontent.com/10217535/35505079-f01c5d38-050a-11e8-83ef-b15110f653d6.png)
![image](https://user-images.githubusercontent.com/10217535/35505112-12e17498-050b-11e8-8fae-5edc5616e7b7.png)

[2018-01-29 10:14] satwikkansal commented on #62
The versions are slightly different from those you mentioned, but I don't think that should make any difference.

[2018-01-29 11:37] sohaibfarooqi opened #63 "Consume generator expression after updating the iterable"
Hi,
I have submitted a [PR](https://github.com/satwikkansal/wtfpython/pull/61) for which I want input from the community. Let me summarise the code example that I have submitted:

This is basically consuming the generator after updating the provided iterable. The main difference in two examples in mainly how they updated the elements of iterable. First one uses `=`(Assignment Operator) and second

[2018-01-30 19:45] satwikkansal opened #66 "Ebook version?"
Hey guys,

I was preparing a pdf for the collection, while a friend of mine recommended me to put in some extra effort to release an ebook version for the same.

I have absolutely no experience with this and I doubt if it'd be an overkill. That's why I've opened up this issue, maybe someone having prior experience with all this can help me in figuring out what to do and if it actually makes sense

[2018-01-30 20:29] jseakle opened #67 "Explanations for "Strings can be tricky sometimes!" are incomplete"
The main issue is that they do not address the third snippet at all, "a" * 20 vs "a" * 21.

I'm also very curious to know /why/ it's the case that

If it were just non-ASCII, that would make some sense, but what problems could interning a string with an exclamation point cause?

[2018-01-31 11:42] simpleapples commented on #62
It's correct when you run the code in IDLE, but it‘s incorrect when you run the code from a file.

[2018-01-31 11:44] simpleapples commented on #62
![screen shot 2018-01-31 at 7 43 28 pm](https://user-images.githubusercontent.com/1655036/35621388-1faaea96-06bf-11e8-9302-9c8731db6198.png)
![screen shot 2018-01-31 at 7 43 45 pm](https://user-images.githubusercontent.com/1655036/35621389-1fd8ad82-06bf-11e8-807f-c23d5ace2117.png)

[2018-02-01 09:00] dirksteindorf commented on #66
Hi satwikkansal,

I would try converting your README.md with pandoc at first, just to see if the results are okay:
https://pandoc.org/getting-started.html
https://pandoc.org/demos.html
https://pandoc.org/epub.html

Pandoc support a huge list of formats, including pdf and epub, so that could help you a lot.
Maybe you just need to do some formatting and then be done with it, if you're lucky.

Code c

[2018-02-01 19:08] satwikkansal commented on #66
Hey @dirksteindorf

Thanks for the suggestion. Let's give these tools a try! If it works well, we can share the pdf this way for the time being.

[2018-02-01 19:09] satwikkansal commented on #66
I had another general query as well. I feel that books are supposed to be more formal, organized: following a proper format, and descriptive than wtfpython is right now (maybe I'm wrong believing that). So if someone would help me figure out if this project is actually worth a book, and up to how much extent (according to them) should we work in formalizing the structure and content, then it'd mak

[2018-02-04 14:37] sohaibfarooqi commented on #67
You can read [This SO](https://stackoverflow.com/a/24245514/5741172) post for details. It covers everything you need to know.

[2018-02-06 19:10] chris-rands commented on #32
Update: see the more recent discussion on the bug report bugs.python.org/issue10544; this syntax will sometimes raise a `DeprecationWarning` in Py 3.7 and then a `SyntaxError` from Py 3.8 docs.python.org/3.7/whatsnew/3.7.html#deprecated

[2018-02-07 14:34] sohaibfarooqi commented on #41
@zxdvd  Yes your analysis is correct. According to [PEP-289](https://www.python.org/dev/peps/pep-0289/#the-details)

You can visit the link to get some more insights and details.

[2018-02-07 15:25] shashank1094 opened #68 "Solution for the problem A tic-tac-toe where X wins in the first attempt!"
Please provide how can one create a tic tac toe with correct pythonic way.

https://github.com/satwikkansal/wtfpython#-a-tic-tac-toe-where-x-wins-in-the-first-attempt

[2018-02-08 05:02] shashank1094 commented on #62
In the article https://github.com/satwikkansal/wtfpython#-is-is-not-what-it-is The last line gives the answer to your question/doubt

[2018-02-08 05:22] shashank1094 opened #69 "Add this to the explanation in "https://github.com/satwikkansal/wtfpython#-backslashes-at-the-end-of-string""
From SO post - https://stackoverflow.com/questions/647769/why-cant-pythons-raw-string-literals-end-with-a-single-backslash

Few examples :

[code]

[2018-02-08 05:31] shashank1094 opened #70 "https://github.com/satwikkansal/wtfpython#-not-knot doubt in operator precedence"
According to [Python docs ](https://docs.python.org/3/reference/expressions.html#operator-precedence) the **Boolean NOT**  has higher precedence than **Comparisons**. But the output you have shown is correct so what an I misinterpreting?

[2018-02-09 05:47] simpleapples commented on #62
@satwikkansal @shashank1094 Thx, it's my mistake.

[2018-02-09 05:47] #62 closed

[2018-02-09 15:12] sohaibfarooqi commented on #70
You are misinterpreting the docs:

The table is in ascending order, means operator which appears first have low precedence than the one which appear below. `not` appears above `==`, so **BOOLEAN NOT** has lower precedence than `==`.

[2018-02-13 04:31] #70 closed

[2018-02-13 16:56] jseakle commented on #67
The existence of an SO post doesn't make the explanation section isn't incomplete. The main issue is that it does not address the third snippet at all, "a" * 20 vs "a" * 21.

[2018-02-14 02:04] sohaibfarooqi commented on #67
@jseakle I completely agree with you. Even I noticed this too when I was reading the explanation portion. Then I searched on SO and found the post that I posted in my earlier comment.

Someone really have to improve the explanation for this portion.

[2018-02-25 15:39] sheljohn commented on #67
+1, I was looking for the same explanation :) Would @satwikkansal be able to add a few words about this? Would a PR make it easier?

[2018-02-25 18:05] satwikkansal commented on #67
Alright guys, really sorry for the ignorance. I've fixed this up in  a0100a8  Let me know if things are still unclear.

[2018-02-25 18:08] sheljohn commented on #67
@satwikkansal Just submitted a PR about this :) Should I delete it? I think it would be good to mention that `is` should not be used for value comparison.

[2018-02-25 18:12] satwikkansal commented on #67
A look at the source code shows that this is defined [here](https://github.com/python/cpython/blob/078f1814f1a4413a2a0fdb8cf4490ee0fc98ef34/Objects/codeobject.c#L13) used [here](https://github.com/python/cpython/blob/078f1814f1a4413a2a0fdb8cf4490ee0fc98ef34/Objects/codeobject.c#L59) to decide if a string should be interned or not.

[2018-02-25 18:13] satwikkansal commented on #67
@sheljohn oops, I didn't knew that, I'm having a look at your PR (y)

[2018-02-25 18:21] satwikkansal commented on #67
@sheljohn left a few comments at the PR. I guess maybe we should only go with the typo (fullstop) change for the time being.

[2018-02-25 18:34] #68 closed

[2018-02-25 18:34] satwikkansal commented on #68
Done :smile:

[2018-02-25 18:48] satwikkansal commented on #63
Hey @sohaibfarooqi I think we should add this to the collection anyway (sorry if I came across as pompous at that time).

[2018-02-25 18:48] #63 closed

[2018-02-27 12:30] koddo opened #73 "return or break statement in a finally block"
Hello. What do you think, is the following a wat?

<https://docs.python.org/3/reference/compound_stmts.html#the-try-statement>:

Example:

[code]

[2018-02-28 11:50] satwikkansal commented on #73
Hey @koddo

That's interesting. Thanks for sharing it. I'd be adding this in the next iteration (or you can submit a PR if you like)

[2018-02-28 12:25] ariasuni opened #74 "Accessibility: image background and alt description"
- When reading the Markdown file with an application with dark background, or when using dark background in Github (with browser modules etc.), somes images are not legible.
- Images doesn’t have an `alt=` for people using screen reader (I can do that if you want).

[2018-02-28 12:43] shashank1094 commented on #73
Hell is getting printed. I am using Python 3.6.4.

[2018-02-28 20:42] satwikkansal commented on #74
I see, that's probably because some images have a transparent background and black outlines (which kind of mixes with dark themes). Having a white background should fix this I guess, what do you think?

Ah, that's bad. I'd appreciate if you'd like to fix this :)

[2018-03-27 08:56] jab opened #77 "Include example of OrderedDict's intransitive __eq__ implementation?"
The second snippet in https://github.com/cosmologicon/pywat/issues/38 provides an example of such a big WTF in Python that Raymond Hettinger himself even called OrderedDict's intransitive equality a mistake. Any interest in including that here?

[2018-04-07 13:52] hanbaobao2005 opened #78 "InputRequired(), the message para doesn't work"
WTForms (2.1)
Flask-WTF (0.14.2)
Flask-Bootstrap (3.3.7.1)
Flask (0.12.2)

I define the login form by:
[code]

route.py return the render html page, and the page was implemented by wtf.quick_form.

result:
Length messges field works, but InputRequired always shows the prompt: "Please fill out this field"

expectation:
parameter: message of InputRequired should works.

[2018-04-07 14:02] hanbaobao2005 commented on #78
I checked wtf's parameter, it indeed gets message value, report an issue to flask-bootstrap instead.

[2018-04-07 14:02] #78 closed

[2018-04-26 09:32] jab commented on #77
![screen shot 2018-04-26 at 16 29 11](https://user-images.githubusercontent.com/64992/39297967-1ebdd9a2-496f-11e8-81df-a5139512ee42.png)

Well, not exactly *anywhere*, as my `od == od2` example from https://github.com/cosmologicon/pywat/issues/38 demonstrates. This imprecision is a bug in the docs. An edge case bug, but still a bug.

[2018-04-26 12:07] chris-rands commented on #77
Interesting thanks, I guess that *either way* the behaviour would surprise some users. I'm not convinced this is a doc bug, but file it as one if you think so https://bugs.python.org/

[2018-05-16 13:53] koddo opened #80 "''.split() != ''.split(' ')"
Hello. Does the following qualify?
When you split an empty string without arguments, you get an empty list.
When you specify a separator, you get a non-empty list, see below.
More of an inconsistency than a wtf, but nevertheless I'd like to share this.
I wonder why it works this way.

[code]

[2018-05-16 18:35] snahor commented on #80
I don't think so, the docs are pretty clear about what happens when you don't supply a delimiter.

[2018-05-17 09:16] satwikkansal commented on #80
umm, I think this can be added to our "Minor ones" collection (I wasn't expecting it to return `['']`)

But let's wait for more opinions on this...

[2018-05-23 08:33] iBug opened #81 "Output of "A tic-tac-toe where X wins in the first attempt!" is wrong."
[Link here](https://github.com/satwikkansal/wtfpython#-a-tic-tac-toe-where-x-wins-in-the-first-attempt)

The last paragraph of the section claims the following output:

[code]

However, the results I get from Python 2.7.15rc1 (Ubuntu 18.04), Python 3.6.5 (Ubuntu 18.04) and Python 3.5.2 (Ubuntu 16.04) are all the same and are different from what this doc days. It is:

[code]

Furthermore, I tried m

[2018-05-23 12:42] satwikkansal commented on #81
Hi @iBug

Thanks a lot for pointing this out. I see that there are a couple of issues,

1. `board = [(['']*3)*3]` should have been `board = [['']*3]*3` to get the same output.
2. Even if we use `board = [['']*3]*3`, it is equivalent to same list being referenced three times, so the right way to do it probably is `[['']*3 for _ in range(3)]`

[2018-05-23 12:46] #81 closed

[2018-06-04 15:36] lavishsaluja commented on #80
I don't think there is any inconsistency, the [https://docs.python.org/2.7/library/stdtypes.html#str.split](split docs) clearly explains what happens when we pass an empty string and what happens when you pass an empty string with a delimiter.
Also, the very first slack answer [https://stackoverflow.com/questions/16645083/when-splitting-an-empty-string-in-python-why-does-split-return-an-empty-list

[2018-06-06 13:52] koddo commented on #80
I've just read the stackoverflow answer, and I'm not convinced. I don't understand why with no `sep` an empty string is considered a run of consecutive whitespaces and gets eaten.

To me this should apply to both algorithms.

[2018-06-06 14:05] koddo commented on #80
And there's another edge case when a string only consists of whitespace. Should `'         '.split()` return `['', '']` for consistency? Like `','.split(',') == ['', '']` does? Now it returns `[]` like `''.split()`. I don't know. To me this behavior is not obvious.

[2018-06-06 16:05] koddo commented on #80
I'm sorry for spamming, I think I get it now.

The non-obvious thing about this function is when there's no `sep` the number of result fields is _one less_ than the number of actual delimiters: both `' a '` and `'a'` have two delimiters and splitting them will result in one field. And with `sep` given the number of result fields is _one more_ than the number of actual delimiters: `','` has one del

[2018-06-08 15:52] satwikkansal opened #83 "An interactive website"
Hey all!

It's exciting to announce that "What the f*ck Python!" has been selected as a project for [GirlScript Summer of Code](http://gssoc.tech/index.html).

Rough ideas regarding what to work upon this summer are there in this [doc](https://docs.google.com/document/d/14XILZh4-SdLB9TxXDjwJdRqlcfyOYOZFqDUvUKKZxOw/edit?usp=sharing).

Once we're assigned project mentors, the next steps I guess shou

[2018-06-10 20:33] book987 opened #84 "problem in "The mysterious key type conversion" explanation"
At last point
* For the desired behavior, we can redefine the `__eq__` method in `SomeClass`
[code]

  **Output:**
[code]
`some_dict` output `{'s': 42, 's': 40}` in Python 3.6.5/3.5.5/3.4.8/2.7.15, can someone provide which version output `{'s': 40}`?

[2018-06-14 18:58] book987 commented on #84
@satwikkansal It's wrong since added.
we can subclass built-in types since Python-2.2 <sup>[ref](https://docs.python.org/3/whatsnew/2.2.html#peps-252-and-253-type-and-class-changes)</sup>, and the code above output
[code]

[2018-06-14 18:58] #84 closed

[2018-06-14 19:20] satwikkansal commented on #84
@book987 Thanks for pointing it out. I acknowledge that the output is wrong and it should have been `{'s': 42, 's': 40}` (and I've fixed that with recent commit), but I think the explanation is fair enough. What do you think?

[2018-06-15 09:42] book987 commented on #84
@satwikkansal yes it's fair enough

[2018-06-16 15:32] cclauss opened #85 "IndentationError: expected an indented block"
flake8 testing of https://github.com/satwikkansal/wtfpython on Python 3.6.3

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-06-18 19:36] #85 closed

[2018-06-20 22:26] 0x48piraj opened #87 "Is this organization related to this repository?"
I wanted to know if the following organization is connected with this project as it seems to have no connection with you, with respect to membership.

**_https://github.com/wtfpython-web_**

[2018-06-21 19:41] satwikkansal commented on #87
Hey @0x48piraj , yes it is (we created that for GSSoC).

And just in case even if it wasn't, it'd have been fine too because wtfpython was "WTFPL" license :wink:

[2018-06-21 19:47] satwikkansal commented on #87
Closing it btw, if you have further question, we can continue the discussion at https://github.com/satwikkansal/wtfpython/issues/83 :smile:

[2018-06-21 19:47] #87 closed

[2018-06-23 08:13] uemarica commented on #83
Hey, i would like to work on this.

[2018-06-23 13:57] satwikkansal commented on #83
**The code for the project is being maintained at [https://github.com/wtfpython-web/wtfypython-web/](https://github.com/wtfpython-web/wtfypython-web/)**

@uemarica ^^

[2018-06-23 14:35] Logan1x commented on #83
@satwikkansal  any mockups how the website should look like?

[2018-06-23 15:30] Logan1x commented on #83
I do have python scripts repo for which I maintain [this website](http://logan1x.me/Python-Scripts/).

[2018-06-23 15:34] satwikkansal commented on #83
Not decided yet, but the idea is to have a basic/minimal/neat looking website.

@Srijancse will be looking after the frontend, so you can discuss with him.

Looks nice! We can reuse some parts of it for our quizzing use case.

[2018-06-23 15:35] Logan1x commented on #83
??

[2018-06-23 15:51] satwikkansal commented on #83
I mean the entire project which is intended to be a quizzing site based on
wtfpython (and wtfjs in long run)

On Sat, Jun 23, 2018 at 9:05 PM Khushal Sharma <notifications@github.com>
wrote:

--
Thanks and Regards,

Satwik Kansal
Linkedin <https://linkedin.com/in/satwikkansal> | https://satwikkansal.xyz

[2018-06-24 12:29] Logan1x commented on #83
http://search.opengenus.org/ this is also a good one. we can implement search by tags. @satwikkansal

[2018-06-24 13:05] satwikkansal commented on #83
yeah, that's a nice idea. Wondering what all tags would we be using?

@Logan1x Mind creating an issue about it at https://github.com/wtfpython-web/wtfypython-web/ if you have time?

[2018-06-24 13:31] Logan1x commented on #83
Done

[2018-06-26 07:01] ashish4321 commented on #69
Can i work on it?

[2018-07-01 05:38] ashish4321 commented on #69
Are you active??

[2018-07-05 03:49] AdityaSoni19031997 opened #90 "Charmap codec Error"
Hi there, thanks for the amazing repository.....
But I am not able to run it on Python 3.6.3 it throws the `Unicode decode error: 'charmap' codec can't decide byte 0x90....`

[2018-07-05 08:37] AdityaSoni19031997 commented on #90
Like the traceback? I had received this on both the ways, using npm and directly typing `wtfpython`

[2018-07-05 08:40] satwikkansal commented on #90
Okay. I'll try to replicate this. It's probably an encoding error.

[2018-08-11 17:36] dufferzafar commented on #66
I created this using Pandoc. Had to modify the Readme a bit to please Pandoc/LaTeX etc.

The output looks pretty decent to me. It has working table of contents!

[Download WTF Python.pdf](https://github.com/wtfpython-web/wtfpython-web/files/2280422/WTF.Python.pdf)

Command: `pandoc -f gfm --pdf-engine=xelatex --template=jgm.tex  -V geometry:margin=1.1in README.md -o WTF.pdf`

[2018-08-21 02:40] nanbei629 opened #93 "The example 'is is not what it is!' has some questions"
i run this code in python 3 and found that
a = 257
b = 257
a is b
True

(Maybe this vision has updated)

[2018-08-21 06:49] SitiSchu commented on #93
What Python version are you using ? I can reproduce this with Python 3.7

[code]

[2018-08-21 08:42] satwikkansal commented on #66
Hi @dufferzafar

Thank you so much for this, and yes, it looks pretty neat.

There's one minor issue, the hyperlinks in TOC aren't still working in some cases. Trying to figure our the reason why...

[2018-08-21 08:44] satwikkansal commented on #66
Ah, got it. All the titles ending with non alphanuerice characters (like `*` and `!`) aren't properly functioning in TOC hyperlinks.

[2018-08-21 09:33] satwikkansal commented on #66
I think for now, I can remove those characters at the end and generate the pdf. And I'll create an upstream issue for it, so that we can have a better approach later on.

[2018-09-01 12:43] satwikkansal commented on #93
Closing this due to inactivity, please feel free to respond with the Python version if the snippet was legit.

[2018-09-01 12:43] #93 closed

[2018-09-01 16:53] true1023 opened #94 "Let's meet Friendly Language Uncle For Life"
The example worked in interpreter but not when I write in a `.py` file.

[code]

[code]

output 1:

[code]
output 2:
[code]

[2018-09-04 01:13] nanbei629 commented on #93
my version is Python 3.61

[2018-09-04 06:53] satwikkansal commented on #93
I checked, and it's `False`

![image](https://user-images.githubusercontent.com/10217535/45014776-4f04ac00-b03d-11e8-84f8-95d0454908b1.png)

[2018-09-13 05:57] ghost opened #96 "python 3.0+ Ellipsis"
python2:
[code]
python3:
[code]
`... and pass`
[code]

[2018-10-04 10:32] satwikkansal opened #98 "Make explanations collabsible"
Use `details` and `summary` tags to make them collapsible. This would help to hide them until readers are done with guessing the reason and need to see the explanations after that.

[2018-10-11 07:29] satwikkansal commented on #96
Hey, thanks for sharing.
There's an [example](https://github.com/satwikkansal/wtfpython#-lets-see-if-you-can-guess-this) that somewhat covers this, but this would be nice to add in to the explanation section of it. Will be doing it in the next update.

[2018-11-30 16:36] anhuaxiang opened #100 "Why? a is b"
python: 3.7.1
![image](https://user-images.githubusercontent.com/26645743/49302058-fdb36e00-f500-11e8-9c55-6074e15dfa93.png)

[2018-12-02 23:45] MuseBoy opened #101 "isinstance loop"
[code]

[2018-12-04 22:51] satwikkansal commented on #101
Awesome, I was looking to introduce something related to Metaclasses, I think this could be a nice-simple snippet to start with.

[2018-12-04 22:56] satwikkansal commented on #100
Interesting

<img width="631" alt="image" src="https://user-images.githubusercontent.com/10217535/49478453-cbc64280-f845-11e8-9dae-349c31bae057.png">

[2018-12-04 22:57] satwikkansal commented on #100
Let me dig deeper to check what changed in Python 3.7 that's causing this.

[2018-12-05 04:59] XiaXuehai opened #103 "What is the difference?"
![image](https://user-images.githubusercontent.com/11585321/49490985-672ed600-f88d-11e8-8367-697ebae01afe.png)
![image](https://user-images.githubusercontent.com/11585321/49491004-79a90f80-f88d-11e8-8de4-03eb682afb02.png)
python3.6.3

[2018-12-05 12:51] Shwetago commented on #94
The second one worked for me but the first one doesn't.
I have used IDLE (Python 3.6.5)
@true1023

[2018-12-05 21:07] henryiii opened #106 "Timeit issue"
I believe the code in `Let's make a giant string!` is incorrect; that's not how you use the timeit module. (I would normally use IPython's `%%timeit` magic). You have to give the function to timeit in some way where it does not evaluate the function before it gets to the timeit call!

Something like this would work:

[code]

[2018-12-07 11:58] Delta456 commented on #103
In 2nd one they are not in same memory allocation.

[2018-12-09 01:37] mishaturnbull opened #108 "Python 2: True/False literal"
**In Python 2** (tested 2.7.15+ on Debian), the boolean operators `True` and `False` are in fact not literals, and can be reassigned.  Unfortunately, I can't remember where I found this, but I've used it a few times to mess with people's code.  Good fun :)

[code]

The reverse is also possible:
[code]

~~Un~~fortunately, this behavior was removed in Python 3 by setting `True` and `False` to be lit

[2018-12-09 06:45] prehensilecode commented on #100
[code]

[2018-12-09 07:15] davidlatwe commented on #100
But if using `int()` to convert

[code]

[2018-12-10 06:18] satwikkansal commented on #108
@mishaturnbull Yes, it's definitely worth a PR. We already have a few WTFs that only work on specific versions of python, so there is no issue adding more as long as they're interesting.

[2018-12-10 15:58] satwikkansal commented on #108
No problem, Looking forward to it!

[2018-12-10 16:16] rwithik commented on #103
Try printing the id of a and b in both the cases, both times. You'll see that the id's of a and b are same in the second case of the program. Which shows that both the variables point to the same location. My guess is that while running the program, it treats it as
`a = 'wtf!'; b = 'wtf!' `
which would make it point to the same location.

[2018-12-10 17:35] martinzugnoni opened #110 "Interactive online demo for Python snippets"
Hey folks!

I'm personally a big fan of `wtfpython` and I always keep an eye on your updates because I always learn something new with them (despite being a 10+ years Python coder). We also use them to teach our students at https://rmotr.com/ (co-founder and teacher here).

While looking at the Python snippets in the README file I thought it would be great to provide some interactive demo that peo

[2018-12-11 06:45] satwikkansal commented on #110
Hi @martinzugnoni

The remote jupyter notebook you have put up is pretty cool. And I'm glad that this project is helpful to you in teaching.

I agree with you that having the snippets in README kills any chances of interactivity possible (interactive way is better for learning of course). For the same reason, few months back we decided to have a [web version of wtfpython](https://github.com/satwik

[2018-12-11 13:47] rwithik opened #111 "New example"
[code]
[code]
[code]
This is not a python exclusive phenomenon. So, is it still worthy to have an example for itself?

(I can submit the pull request over the weekend if its approved.)

[2018-12-12 17:45] mishaturnbull commented on #108
Finally got to the PR, and... found the example already in the list!  I must've missed it the first time around.

https://github.com/satwikkansal/wtfpython#-when-true-is-actually-false

[2018-12-12 17:45] #108 closed

[2018-12-13 08:56] morgan008 commented on #100
@satwikkansal
[code]

[2018-12-15 12:43] martinzugnoni commented on #110
Hi @satwikkansal, thanks for your answer.

Jupyter Notebook files are plain JSON files underneath (see the raw version of the demos [here](https://raw.githubusercontent.com/martinzugnoni/wtfpython/master/DEMO.ipynb)). I believe that notebooks is one of the most convenient formats to store code snippets. Not only because the structure of the file was designed for that purpose, but also because it p

[2018-12-16 10:09] leisurelicht opened #112 "Add a quick link"
Hello, I was translated the project to chinese.
Can you add a quick link in the front of readme content to help others quickly get it.
like:
[code]

[2018-12-16 10:54] satwikkansal commented on #112
Thanks!

[2018-12-16 10:54] #112 closed

[2018-12-16 11:16] satwikkansal commented on #110
Hi @martinzugnoni

It's interesting to know that jupyter notebooks are store information in JSON format. For multiple python versions, I think adding a note for users to change the kernel version manually should suffice to start with.

There are two goals behind scoring that I can think of,

First, we wanted a sort of quizzing like site where users can test their familiarity with Python. We felt t

[2018-12-16 12:54] martinzugnoni commented on #110
Sounds good! I will see how to solve the Python2.7 execution and come back with a proposal. I can directly open a PR with the DEMO notebook so you can directly review it there.

[2018-12-17 02:37] leisurelicht commented on #112
thanks, This is really an interesting project. hope you can make it better.

[2018-12-17 14:09] #103 closed

[2019-01-06 08:39] acejerry opened #113 "Why output of "id(WTF()) is id(WTF())" is False"
![image](https://user-images.githubusercontent.com/8581684/50733942-7e851a00-11d1-11e9-9d5f-9c43973c6f42.png)

[2019-01-06 08:41] acejerry commented on #113
Python version is 3.6.2
![image](https://user-images.githubusercontent.com/8581684/50733961-ce63e100-11d1-11e9-8ffe-3f5dd272387d.png)

[2019-01-06 08:44] #113 closed

[2019-01-08 05:43] lypch commented on #113
In your code, WTF() is used to tell python to create a new instance of WTF class. so WTF() was executed twice and two instances with different memory address were created.  so the result is false.

[2019-01-08 09:01] Ricocotam commented on #113
The object is created twice because once the first `id(WTF())` is executed, the object is destroyed because not assigned, only the id is stored. Then you build a second object that has the same id, probably because you just destroyed the exact space you needed in your process

[2019-01-18 13:58] zhe-li opened #114 "More explanation for Brace yourself!"
Hi,

Regarding 'Brace yourself!', I think it worth adding more explanation for where 'SyntaxError: not a chance' comes from and how it works.

I checked `__future__` code, but could not find any 'braces'. I was wondering where the response 'SyntaxError: not a chance' comes from. Then I found answer from stackoverflow in the link below.

https://stackoverflow.com/questions/21125228/where-is-the-fro

[2019-02-27 11:16] frankli0324 opened #115 "comparison chain"
### ▶ Chained Comparison *

[code]

**Output (Python any):**
[code]
Got'ya! Still stuck with C style mind?

#### 💡 Explanation:
* Know how expressions like 1<2<3 are dealt in python?
they are expanded into 1<2 and 2<3
so chained comparisons are expanded into multiple expressions connected by "and"
so the expression above is expanded into
[code]
[code]

[2019-02-27 11:17] frankli0324 commented on #115
sorry i didnt go through the book carefully
duplicated

[2019-02-27 11:17] #115 closed

[2019-03-16 13:54] mj2602594534 opened #116 "when reading this explanation,I feel comfused"

[2019-03-16 13:54] mj2602594534 opened #117 "when reading this explanation,I feel comfused"

[2019-03-16 14:01] mj2602594534 commented on #117
In a generator expression, the in clause is evaluated at declaration time, but the conditional clause is evaluated at runtime.
So before runtime, array is re-assigned to the list [2, 8, 22], and since out of 1, 8 and 15, only the count of 8 is greater than 0, the generator only yields 8.

--->
array = [1, 8, 15]
g = (x for x in array**(%1)** if array**(%2)**.count(x) > 0)
array = [2, 8, 22]
------

[2019-03-16 14:17] mj2602594534 commented on #117
when you create an int in that range you just get back a reference to the existing object. So it should be possible to change the value of 1.
I don't get what you mean, why does the change of value 1 is connect to the your topic

[2019-03-18 05:18] nagayev opened #118 "Russian translation"
I think I can translate readme.md from English to Russian.

[2019-03-19 06:37] YannickXiong opened #119 "No such file or directory: 'content.md'"
# OS / Environment
macOS mojave 10.14.1

# Manticore version
Version: 0.2

# Python version
python 3.6

# Dependencies

# Summary of the problem

install wtfpython with `pip install wtfpython` successfully, however run the commond line failed, the error log is:

[code]

[2019-03-20 08:11] RocShi opened #120 "It seems like one sample in "Section: Strain your brain! --> Strings can be tricky sometimes *" has been not suitable for Python 3.7.1?"
Hello, thanks for your great effort in wtfpython. In practice, the result of last sample of 2nd code segment in [Strings can be tricky sometimes *](https://github.com/satwikkansal/wtfpython#section-strain-your-brain) is different with that of mine. In wtfpython, it's like:
[code]
But in my development environment, it's like:
[code]
My development environment is as follows.

- windows 10 Enterprise

[2019-03-20 08:45] Ricocotam commented on #120
It seems new in Python3.7
I ran these on 3.7.0 and 3.6.6 and got different results.

[code]

I don't know why there's a change, but there's a problem, for sure :)

[2019-03-20 14:48] RocShi commented on #120
@Ricocotam  I have read PEP 538 and PEP 540, maybe you are right.

[2019-03-22 10:01] Ricocotam commented on #120
I don't know how it would affect this, but it's the only thing I can see from Python 3.7 change logs that could modify the behavior

[2019-03-31 13:32] satwikkansal commented on #118
Hi @nagayev, that'd be awesome. Please go ahead, and let me know if you need any help.

[2019-03-31 13:38] satwikkansal commented on #119
@YannickXiong thanks for reporting this, I'm looking into it. Will let you know once this is fixed.

[2019-03-31 13:43] satwikkansal commented on #120
Hey @RocShi thanks for highlighting this. I'm digging in deeper to find out what exactly caused this behavior change, and will update the example in the next release :)

[2019-04-01 12:49] nagayev commented on #118
@satwikkansal good!

[2019-04-17 11:00] free-free commented on #100
Let me give a summary for the first example **"Strings can be tricky sometimes *"**.
[code]

[2019-04-18 01:41] selfboot commented on #100
‘’‘
Python 3.7.3 (default, Mar 27 2019, 09:23:39)
[Clang 10.0.0 (clang-1000.11.45.5)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

False

True

True

False
’‘’

[2019-05-01 14:53] satwikkansal commented on #119
This will be fixed with https://github.com/satwikkansal/wtfpython/commit/c475cbfe826f2b65d3674f3acf724f14f97c50dc

Thanks for reporting!

[2019-05-01 14:53] #119 closed

[2019-05-01 14:53] satwikkansal commented on #118
Hi @nagayev, Still working on the translation?

[2019-05-01 15:04] nagayev commented on #118
@satwikkansal yep!
I'll push the first version tomorrow.

[2019-05-01 15:06] satwikkansal commented on #117
Hi,

As far as my understanding goes, it works something like this,

- Interpreter encounters `array = [1, 8, 15]` and assigns the object with values to the variable `arrray`.
- Interpreter now encounters generator expression, the `in` clause is evaluated with the values `[1, 8, 15]`
-   Interpreter encounters `array = [2, 8, 22]`, and updates the values that `array` is referencing to.

Now during

[2019-05-01 15:06] #117 closed

[2019-05-01 15:07] satwikkansal commented on #116
Closing it because of no description.

[2019-05-01 15:07] #116 closed

[2019-05-01 15:20] satwikkansal commented on #110
Hi @martinzugnoni

Just checking, Were you able to figure out?

[2019-05-01 15:22] satwikkansal commented on #83
Closing this since the project has been https://github.com/wtfpython-web/wtfypython-web/ stale for a while.

[2019-05-01 15:22] #83 closed

[2019-05-01 15:51] martinzugnoni commented on #110
Hello @satwikkansal, sorry about the late response. We've been working in some changes about the Notebook service and moved it as a completely separate product on its own page: https://notebooks.ai/

About the Python 2.7 execution, it's not as simple as I thought initially. We are running the code in Docker containers that are built either with Python 2.7 or 3.6, but not both versions together.

T

[2019-05-01 16:57] satwikkansal commented on #118
Awesome @nagayev, looking forward to it.

[2019-05-01 17:10] satwikkansal commented on #110
@martinzugnoni Gotcha, I think we can start wtih Python 3.6 examples only.

Also, I did some work on json-generator script, that'll parse the README and convert the examples to json format, here's the [python file](https://github.com/satwikkansal/wtfpython/blob/3.0/irrelevant/json_generator.py). The task is half-done till now. What I've planned is to create a json of the form

[code]

And once thi

[2019-05-02 17:06] satwikkansal commented on #90
Fixed with https://github.com/satwikkansal/wtfpython/commit/c475cbfe826f2b65d3674f3acf724f14f97c50dc

Thanks for reporting it!

[2019-05-02 17:06] #90 closed

[2019-05-03 06:56] nagayev commented on #118
@satwikkansal
This version is on very early stage,sorry.
I'll improve this on my May's holidays.
https://gist.github.com/nagayev/9f3cb1dca089479b10579f97f0a378c1

[2019-05-03 14:34] satwikkansal commented on #118
@nagayev No worries, let me know when it's done :)

[2019-05-04 09:27] nagayev commented on #118
@satwikkansal okey)

[2019-05-04 10:02] nagayev commented on #118
[EN]
For Russian speaking people:
If you want, you can contribute to Russian translation gist:
https://gist.github.com/nagayev/9f3cb1dca089479b10579f97f0a378c1
[RU]
Ребят, если внесете вклад в этот gist будет круто!

[2019-05-13 16:07] pmjpawelec opened #121 "Careless zips of iterators"
Real life lesson. It boggles the mind of many people I show to. Please tell me if this is good enough to add to the wtfpython.

Let's zip some numbers and characters.

[code]

Somehow the number 4 is lost in the process.

Explanation: The first `zip` consumes one element (the number 4) from the iterator before realizing it has no matching element from the second list. The element was not "peeked",

[2019-05-15 09:55] sgibson91 commented on #110
Hey, have you guys looked at binder for hosting notebooks straight from the repo?

* https://mybinder.org
* https://mybinder.readthedocs.io/en/latest/
* https://github.com/binder-examples/
* https://gitter.im/jupyterhub/binder

I think this repo is great btw and making it interactive would be super cool!

[2019-06-06 18:17] satwikkansal commented on #121
@pmjpawelec Thanks for suggesting this, I'll definitely add it in the next iteration.

[2019-06-06 18:36] satwikkansal commented on #94
@true1023 Thanks for reporting this. Seems like this will only work in non-interactive environment. I'll figure out the reason why, and update it in the readme.

[2019-06-08 10:08] Ricocotam opened #123 "French Translation"
Hi, I'm starting a french translation on my own fork : https://github.com/Ricocotam/wtfpython

I just forked it, if you have any advice feel free to create issues/comment below

[2019-06-08 11:11] satwikkansal commented on #98
https://gist.github.com/satwikkansal/83a4929f7c164506cdc15897eacde4e3

[2019-06-08 16:27] satwikkansal commented on #123
Hi @Ricocotam, Thanks! I'd really appreciate that. Could you please wait for a couple of weeks?

Actually, I'm adding new snippets and making some corrections to existing examples in a separate branch https://github.com/satwikkansal/wtfpython/tree/3.0 , so I think if you can wait until the changes are finished, we won't have to redo these changes in French version :)

[2019-06-08 16:29] Ricocotam commented on #123
Do you plan changing a lot of things ?
But sure I can wait a bit or translate examples that are still true

[2019-06-08 17:14] satwikkansal commented on #123
Yes, the changes would effect 30% of the project, roughly.

Meanwhile, if you like, you can translate the examples in the section Hidden Treasures (https://github.com/Ricocotam/wtfpython#section-the-hidden-treasures), there won't be many changes in the examples of that section.

I'll let you know here once I'm done with the changes, thanks for understanding.

[2019-06-08 17:54] satwikkansal commented on #100
Okay, to summarize

[code]

I tried disassembling the code, but couldn't find the reason for this difference

[code]

LOAD_CONST is being called only once in both the cases.

[2019-06-09 12:16] satwikkansal commented on #100
Similar results come when we replace `a` and `b` by `wtf!` causing another example to become outdated https://github.com/satwikkansal/wtfpython/issues/120

[2019-06-09 12:26] satwikkansal commented on #120
This is similar to issue encountered in "is is not what it is" example. So closing this in favor of #100 , let's continue the discussion there :)

[2019-06-09 12:26] #120 closed

[2019-06-09 14:16] #121 closed

[2019-06-09 14:17] satwikkansal commented on #114
@zhe-li Added, thanks for the suggestion :) You can check the above commit and let me know if something's incorrect or missing.

[2019-06-09 14:17] #114 closed

[2019-06-09 14:18] satwikkansal commented on #106
Fixed :)

[2019-06-09 14:18] #106 closed

[2019-06-09 14:18] satwikkansal commented on #101
@MuseBoy Added, thanks for the suggestion :) You can check the above commit and let me know if something's incorrect or missing.

[2019-06-09 14:18] #101 closed

[2019-06-09 14:19] satwikkansal commented on #96
@ghost Added, thanks for the suggestion :) You can check the above commit and let me know if something's incorrect or missing.

[2019-06-09 14:19] #96 closed

[2019-06-09 14:20] satwikkansal commented on #94
I've added the explanation in the project. You can check the above commit and let me know if something's incorrect or missing :)

[2019-06-09 14:20] #94 closed

[2019-06-09 14:21] satwikkansal commented on #80
@koddo  Added, thanks for the suggestion :) You can check the above commit and let me know if something's incorrect or missing.

[2019-06-09 14:21] #80 closed

[2019-06-09 14:22] satwikkansal commented on #73
Added to the collection, thanks again!

[2019-06-09 14:22] #73 closed

[2019-06-09 14:23] satwikkansal commented on #69
Updated the explanation, thanks @shashank1094 :) You can check the above commit and let me know if something's incorrect / missing.

[2019-06-09 14:23] #69 closed

[2019-06-09 14:24] satwikkansal commented on #41
Added a snippet and releveant explanation for this in the project. Feel free to check out the above commit and revert back if anything's incorrect / missing.

[2019-06-09 14:24] #41 closed

[2019-06-09 19:00] satwikkansal commented on #77
Thanks for suggesting this @jab , this was actually one of very few genuine WTFs I've observed. Added in the above commit ^^, feel free to have a look and point out any corrections / missing details.

[2019-06-09 19:00] #77 closed

[2019-07-04 22:31] josephwon0310 opened #128 "Adding Korean translation"
It looks like there isn't a specific guideline on making a PR regarding translations. Can I just fork and make a PR against master?

[2019-07-06 08:03] satwikkansal commented on #128
Hi @josephwon0310,

Yes, You can create traslation of the readme in 3.0 branch https://github.com/satwikkansal/wtfpython/tree/3.0, and raise a PR against the same branch :)

I'm planning to release that branch next month (some changes to be made). But I can add links to your translation in the master whenever you're done.

[2019-07-07 19:54] josephwon0310 commented on #128
I would like to take this issue! @satwikkansal

[2019-07-07 21:40] satwikkansal commented on #128
Awesome @josephwon0310

Yes, one thing. I've added unique ids to every example in my 3.0 branch. Example: https://github.com/satwikkansal/wtfpython/commit/863e1f4512fd91ae0dde79833377c629c21dee77?diff=unified#diff-04c6e90faac2675aa89e2176d2eec7d8R224

So if you can add these uuids to your translation as well, it'd be helpful to update newer changes to the translations. (For example, if there's any

[2019-07-07 21:46] satwikkansal commented on #123
Hey @Ricocotam

The 3.0 branch is in stable state now. I wanted to know if you're still interested in helping with the French translation. Let me know. Looking forward!

[2019-07-07 21:47] satwikkansal commented on #118
Hi @nagayev

Just checking, were you able to make any progress with the Russian translation?

[2019-07-07 22:52] josephwon0310 commented on #128
@satwikkansal Thanks for the fast reply. I have realized that the 3.0 branch is few commits behind master and there are some examples that are not yet added. Should I continue working on the 3.0 branch? Or do you think it'll be more convenient for you if I rebase it off master?

[2019-07-07 23:01] satwikkansal commented on #128
@josephwon0310 I just rebased an hour ago, to me it shows ahead of master

<img width="818" alt="image" src="https://user-images.githubusercontent.com/10217535/60774923-1fc93a80-a139-11e9-8c8d-87c8d3cde6bc.png">

Might be the case that your fork is not synced with the remote.

[2019-07-07 23:29] josephwon0310 commented on #128
@satwikkansal  Thanks. I see it now! I have an extra question regarding the examples, I see that `*` means a new example, but there isn't seem to be an explanation regarding `^` at the end of each titles. What do the `^`s mean?

[2019-07-08 02:00] josephwon0310 opened #130 "Ex)The link for Let's Mangle ^ in `3.0` branch is broken"
The link to the corresponding explanation is broken as well.

[2019-07-08 02:04] josephwon0310 commented on #130
Also, this is a subjective suggestion: adding links to explanations for each examples seems a bit pointless to me. It rather convolutes the document and doesn't help with readability.(This is a personal opinion!) @satwikkansal

[2019-07-08 07:15] Ricocotam commented on #123
Yup, I was waiting for news from the update :)

[2019-07-08 16:20] satwikkansal commented on #123
@Ricocotam Essentially yes. You can take reference from chinense translation https://github.com/leisurelicht/wtfpython-cn on how it can be done. They have taken a fork and translated other files as well (like contributing.md, etc) but I'll leave that decision totally up to you (it's your fork after all).

Just make sure you translate the 3.0 branch and not the master, because https://github.com/sa

[2019-07-08 16:57] satwikkansal commented on #130
Fixed, the toc generator I was using previously had some bug it seems.

Fixed this as well.

[2019-07-08 16:57] #130 closed

[2019-07-08 17:01] satwikkansal commented on #128
I have removed all of them now. The idea was to keep track of newer examples in the upcoming release. Anyway, I think I'm better off taking care of this in release notes itself.

If you have a preference on how to organize branching/pushing and whatnot please let me know.

I'd recommend to take out a seperate branch like `3.0_korean`, and use your `3.0` branch to manage sync with the remote (here)

[2019-07-11 09:32] JieshuaiCui opened #131 "there is so many problems in your project"
as like the title,your pro has so many mistakes.So i can't stand to make these right.In fact,you don't has so much knowledges in assembly language and don't be familiar with the python.

[2019-07-11 09:40] Jamim commented on #131
What are you talking about?

[2019-07-11 14:17] Ricocotam commented on #131
From the time this repo has been on, plenty mistakes were made from all of us and most of them have been fixed. If you find one just tell it's wrong and explain why. If you don't understand something and feel an explanation isn't clear just ask for more details.

But this comment is pretty much useless and has as only purpose trolling

[2019-07-11 15:33] satwikkansal commented on #131
Hey @JieshuaiCui, If possible, can you be more specific about the "mistakes" that you are talking about? I know that there's a possiblity of having gaps in my understanding, and rightly so, these have been pointed out by readers in the [issues](https://github.com/satwikkansal/wtfpython/issues?q=is%3Aissue+is%3Aclosed) they created.

I've tried my best to work upon them to put a simple and clear pi

[2019-07-11 19:56] nagayev commented on #118
@satwikkansal No.
I work on my own projects(

[2019-07-13 20:49] josephwon0310 commented on #128
@satwikkansal I was wondering if you have a specific markdown linter or extension that you use? If yes, I think it'll help a lot of people working on this repo if you can share!

[2019-07-13 21:17] satwikkansal opened #132 "Add static code analysis"
Now that the project has Travis integration, I think we can use a static code analysis tool like coala which can help in detecting errors like following upfront,

- Markdown linting errors (and the linting errors in the code inside the markdown)
- Invalid or broken links (like TOC, references, etc)
- Grammar checks

The commands to perfrom such checks can be added to Travis as well as pre-commit h

[2019-07-13 21:18] satwikkansal commented on #128
@josephwon0310 I use https://github.com/jonschlinkert/markdown-toc with `maxdepth` set as 2 to generate TOC. Regarding linters, I haven't actively used any until now, but I agree that it'd be helpful to enable linting to prevent such bugs in future. I've created https://github.com/satwikkansal/wtfpython/issues/132 with some thoughts I had on this, feel free to add anything you feel is relevant :)

[2019-07-13 22:02] josephwon0310 commented on #132
I would love this patch to go live asap. I'm not sure whether it's the Korean encoding not working with MD or it's just some under the hood inconsistency that breaks TOC links for me, but this will help with most of the problems.

[2019-07-13 22:04] josephwon0310 commented on #131
I don't think there is any point leaving this issue open and dangle without a clear purpose. It'll be better to have a dedicated thread for healthier discussion regarding the examples.

[2019-07-14 08:01] satwikkansal commented on #131
Makes sense, @JieshuaiCui if you feel some of the examples are incorrect or need improvement, please feel free to re-open the issue or create new issues. Closing this one for now.

[2019-07-14 08:01] #131 closed

[2019-07-21 08:59] daidai21 opened #133 "Python3.x load module path error"
# Python3.x load module path error

Program execute display like this error: `ImportError: No module named 'xxx'` also you used like this code: `from .xxx import xxx` or `from ..xxx import xxx`.

### Example:

- `module/`
    - `__init__.py`
    - `A/`
        - `__init__.py`
        - `a.py`
[code]
    - `B/`
        - `__init__.py`
        - `b.py`
[code]
- `main.py`
[code]

This code will displ

[2019-08-01 06:22] Anvesh2013 commented on #90
I am getting the same error. On 1st Aug 2019. I am using python 3.7 and latest pip

[2019-08-01 08:48] satwikkansal commented on #90
Ah, sorry, I forgot to make a release back then. I'll make a release and that should fix it.

[2019-08-01 09:26] satwikkansal commented on #90
Fixed.

[2019-08-19 06:50] pkkdguy opened #135 "String Interning"
`a,b = "wtf!", "wtf!"`
`a is b # This returns False`

[2019-08-19 10:29] Jamim commented on #135
I've just checked this and found that the behavior was changed in Python 3.7.

[code]

[2019-08-24 20:18] satwikkansal commented on #135
Yeah, there's a note regarding this in 3.0 branch (not merged to master yet), https://github.com/satwikkansal/wtfpython/commit/bf967b0332ff2c5d645ab4f420f1c24a9b0702db

[2019-08-24 20:19] satwikkansal commented on #135
Also related: https://github.com/satwikkansal/wtfpython/issues/100

[2019-08-28 23:53] scidam opened #136 "New example: yield from return"
Let consider the following function:

[code]

What would be expected behavior, if we called
[code]
Instead of exected output `["A string..."]`,  we would get an empty list `[]`!

The same behaviour is true, if we replace `yield from` with a loop, e.g.

[code]
When `yield from` has come (Python 3.3+), it becomes possible to use return (with values) inside generators. The essence of such behavior be

[2019-09-09 04:14] daidai21 opened #137 "Is copy or reference in self recursion?"
Hello, I not found in this repository about this grammar. so, I open this issue.
My CPython version is 3.7.1

- list recursion (reference )

[code]
result:
[code]

- variable recursion (copy)

[code]
result
[code]

Just defining functions is the same.
Thank you.

[2019-09-10 18:52] satwikkansal commented on #136
Hey @scidam

Thanks for suggesting this. It seems like a great addition to the collection. Do let me know when you open a PR for this, looking forward to it :)

[2019-09-10 18:56] satwikkansal commented on #137
Great, thanks for suggesting this @daidai21

Will definitely add this in the next iteration.

[2019-09-16 14:08] roshnet opened #140 "New example - execution order broken because of unflushed output buffer"
On running the following script -
[code]
`hey` prints _after_ the delay, which is surprising at the first sight.

Because of `end=''`, the output buffer remains unflushed, and Python waits for the program to finish, before printing anything to the console.

[2019-10-09 06:05] tbhaxor opened #142 "Explain new example: Working of equality or membership"
[code]

[2019-10-17 15:10] Yukti-09 opened #143 "Example1"
a=[11,22]
b=a
The ids of the two will be the same.
Now,
a[0]=1
The ids of the two will still be the same as both a and b are referring to the same location, changes made to a are made to b as well.
Hence,
a=[1,22]
b=[1,22]

Now if we do
import copy
c=copy.deepcopy(a)
id(a) will not be equal to id(c)

[2019-10-23 14:18] ipid opened #145 "Example: Confusing syntax of walrus operator `:=`"
Hello.

I found that the syntax of `:=`, the walrus operator as a new feature in Python 3.8, is kind of confusing and newbies may make mistakes on it.

Consider the following example:

[code]

The result is:

[code]

You can see that `a` is never assigned, because of the syntax of `:=` operator:

where `NAME` is a valid identifier and `expr` is a valid expression. Thus unpack assignment is not sup

[2019-10-29 14:38] satwikkansal commented on #142
Similar snippets are already covered in [Operator chaining example](https://github.com/satwikkansal/wtfpython#-be-careful-with-chained-operations).
[code]

[2019-10-29 14:38] satwikkansal commented on #143
Let me know if I've missed anything?

[2019-10-29 14:39] satwikkansal commented on #142
Let me know if I've missed anything?

[2019-10-29 14:41] satwikkansal commented on #135
Closing this in favor of other issue.

[2019-10-29 14:41] #135 closed

[2019-10-29 14:43] satwikkansal commented on #111
I don't think wtfpython is the right place for this. From my experience, it usually infuriates experienced programmers when they see examples like this in wtfpython.

[2019-10-29 17:00] satwikkansal commented on #98
Not a worthy enough feature to substitute a lot of markdown in the project with html tags. Closing this.

[2019-10-29 17:00] #98 closed

[2019-10-30 17:03] #142 closed

[2019-10-30 17:21] satwikkansal commented on #100
Update: Just realized even Python 3.8 has Python 3.6 like behavior, it was only 3.7 that behaving this way.

[code]

Diving into 3.8 changelog to figure out what changed...

[2019-11-03 12:52] rwithik commented on #111
Fair enough.
I'll close this issue then.

[2019-11-03 12:52] #111 closed

[2019-11-03 19:38] bdrum commented on #100
Hi! Thank for the nice repo!

I noticed one more thing:
[code]

Interesting, does this mean that default optimizations for main and script are different?

[2019-11-03 19:43] satwikkansal commented on #100
Hey, yes. I added a small note regarding this (will publish in next revision), but here's the gist,

[2019-11-09 10:13] Yukti-09 commented on #143
deepcopy has not been used explicitly.

[2019-11-09 10:19] Yukti-09 opened #147 "example"
TypeError: can't multiply sequence by non-int of type 'float'

[2019-11-09 10:32] Yukti-09 opened #148 "assignment and overwriting"
40

42

82

42

[2019-11-09 11:09] Yukti-09 opened #149 "example"
1

[2019-11-09 11:16] Yukti-09 opened #150 "example2"
1

7

8
The above does not round up

[2019-11-10 15:24] #148 closed

[2019-11-10 15:25] #149 closed

[2019-11-24 14:39] daidai21 opened #151 "I don't know how to describe this problem. This code used to sort two list."
[code]

- result:
[code]

[2019-12-05 19:50] agathavekris commented on #150
Hey Yukti, if you import math and use the ceil() function it rounds up. Is there somewhere in the documentation that says otherwise? Cuz if so I'd love to change it!

Here's your code with the ceil() function:

`import math as m`

`print(m.ceil(1.99))`
`print(m.ceil(7.7))`
`print(m.ceil(7.7 + 1))`

[2019-12-07 06:59] ourway commented on #100
[code]
In Python 3.7.5, `a` is not `b` and result of `a is b` is `False`

Did I miss something?

[2019-12-10 04:10] KyleXie opened #153 "Constant folding example is not correct in Python3"
In Python2, the result is:
[code]

But in Python3.7.4(I didn't try other versions), it's:

[code]

Which is not like the one described in `Strings can be tricky sometimes` section. Maybe we should update that section to make it clear?

[2019-12-19 08:46] satwikkansal commented on #153
Hi @KyleXie

Yeah, you're right. I have an explanation for this in my [3.0 branch](https://github.com/satwikkansal/wtfpython/tree/3.0) (next revision of wtfpython).

Will be synced with the master branch too in the coming week.

[2019-12-19 08:46] #153 closed

[2019-12-21 17:08] #53 closed

[2019-12-21 17:08] #145 closed

[2019-12-21 17:08] #137 closed

[2019-12-21 17:08] #140 closed

[2019-12-23 09:23] etaty opened #156 "New example: typing optional namespace clash"
The example
[code]
[code]
https://repl.it/repls/LikableCommonRobodoc

I believe there is a namespace clash between the class variables and the types.

[2019-12-25 09:09] buttercrab commented on #128
@josephwon0310 Hi, looks like translation is not in progress. Can I join your work with translation? Or can I do the translation?

[2019-12-25 13:55] satwikkansal commented on #128
@buttercrab Seems like Joseph's fork hasn't been updated in a while https://github.com/josephwon0310/wtfpython-kr

We can wait for a couple of days for his reply, otherwise, I'd be happy if you can help with the translation :)

[2019-12-26 09:05] cclauss opened #161 "Typos detected with codespell"
$ __pip3 install codespell__
$ __ codespell__
[code]

[2019-12-26 12:57] buttercrab opened #162 "Typo in walrus operator"
In [walrus operator](https://github.com/satwikkansal/wtfpython/blob/master/README.md#-first-things-first-), there is a sentence:

I think it's a typo on `Name: expr`. It should be changed to `Name:=expr`.

[2019-12-27 14:29] satwikkansal commented on #128
@buttercrab I think Joseph is unavailable, would you like to continue with the translation? How long do you think it is going to take?

[2019-12-27 14:35] #162 closed

[2019-12-27 14:35] #161 closed

[2019-12-28 01:45] buttercrab commented on #128
@satwikkansal Great! I think it will take about few months.

[2019-12-28 18:40] satwikkansal commented on #128
No worries, let me know if you need any help :)

On Sat, 28 Dec 2019 at 7:15 AM, Jaeyong Sung <notifications@github.com>
wrote:

--
Thanks and Regards,

Satwik Kansal
Linkedin <https://linkedin.com/in/satwikkansal> | https://satwikkansal.xyz

[2019-12-29 21:48] wodny opened #163 "Needles in a Haystack, example 6, call by reference/value"
I am not sure if the following statement is correct:

I have no idea how it's implemented underneath to make some optimizations but explaining the effect by saying that there are two types of variable passing methods seems to blur the rules not clarify them. The difference seems to be in the effects of `-=` - the one with `int` just reassigns the `a` variable. So it only looks like we are dealing

[2019-12-30 03:04] buttercrab opened #164 "Typo in Strings can be tricky sometimes"
In line 346, it says:

I think in `''.join(['w', 't', 'f']` have to change to `''.join(['w', 't', 'f'])` (add bracket at the end)

[2019-12-30 03:26] buttercrab opened #165 "Possible Typo in Strings can be tricky sometimes"
In line 349, it says:

But it looks like second `wtf!` needs parenthesis.

[2019-12-30 07:35] #164 closed

[2019-12-30 07:36] satwikkansal commented on #165
Hi @buttercrab,

I'm not able to understand. Do you mind pointing out what should be the correct sentence according to you?

[2019-12-30 08:38] buttercrab commented on #165
I think It should be:

on the second `"wtf!"`. All the other strings have brackets so I think this is a typo.

[2019-12-30 13:50] #165 closed

[2020-01-11 19:03] #163 closed

[2020-01-13 03:54] daidai21 opened #172 "This is a new feature or bug about operator "- -"?"
[code]

[2020-01-13 18:12] evanmags commented on #172
Can you explain your question a bit more?

The way I understand what I think you are asking is that this isn't a bug at all.

Python will interpret `3--2` as `3 - (-2)` subtracting a negative is the same as adding the positive. So this expression evaluates to `3+2`. `3++2` evaluates to the exact same thing `3+(+2)` or `3+2`. so as you can see both are equal to 5

[2020-01-14 08:42] satwikkansal commented on #172
There's already an example in the minor ones section along the similar lines

[code]

[2020-01-16 10:44] matejcik opened #173 "typo in Strings and backslashes"
the [following](https://github.com/satwikkansal/wtfpython/blob/master/README.md#L1225-L1226) is untrue:
[code]

it should be one of the following:
[code]

[2020-02-06 12:12] AlekseiMarinichenko opened #179 "Drop Python 2 support"
Python 2 is no longer supported. There is no sense to maintain something deprecated.
I recommend to remove all Python 2 examples from the tutorial.

[2020-02-07 15:42] cuamckuu commented on #118
Started to work on it. Introduction and some first snippets are ready

[2020-02-07 15:52] satwikkansal commented on #118
Awesome, let me know if you need any help.

[2020-02-08 13:47] nagayev commented on #118
@cuamckuu You can use my gist.
Some threads were translated.
Mb I can help you.

[2020-02-08 19:23] satwikkansal commented on #179
Makes sense.

I'll do this in the next major update because, right now some of the Python 2 examples are closely knitted with Python 3 examples, which means removing them might end up in some reordering of examples.

Also, I'm wondering if it still makes sense to have a separate section for Python 2  because,
- Some of those examples are user-contributed
- Those examples illustrate how Python has

[2020-02-11 11:17] xnuinside commented on #100
same issue with strings - https://github.com/satwikkansal/wtfpython#-strings-can-be-tricky-sometimes

why this resource produce wrong knowledge?

Exist difference between line-by-line input and block code execution.

This is totally wrong.

All what you do by  in line-by-line input does not have any optimization what exist on step of AST -> CST creation in python

If you will do this in py module:

[2020-02-13 07:57] Lucas-C opened #180 "GC Reference Counting algorithm can destroy a file descriptor too early"
Credit goes to Javier Honduvilla Coto for find this: http://hondu.co/blog/open-and-python
I contacted him by email to clarify a few bits, and thought it'd be a nice addition here.

[code]

[2020-02-13 19:34] cuamckuu commented on #118
About 50% of raw translation is ready, first version should be ready soon

[2020-02-13 19:51] nagayev commented on #118
@cuamckuu Nice news!
But where we can view your work?
Your fork looks as the original repo.

[2020-02-13 20:06] cuamckuu commented on #118
Pushed it now, https://github.com/cuamckuu/wtfpython-ru

[2020-02-14 14:14] nagayev commented on #118
@cuamckuu Thanks.

[2020-02-15 08:07] Haksell commented on #173
Seconded.

And even better,
[code]

[2020-02-15 08:11] Pradhvan opened #182 "Modifying a dictionary while iterating over it"
I was trying the modify a dictionary by deleting its key with `del dictonary[key] ` if the condition is met while iterating over the whole dictionary. During the process, I saw an error `RuntimeError: dictionary keys changed during iteration`.

As the section[0] suggested the error only pops up in Python 3.8 onwards. I got the error in Python 3.7.6.

So I am assuming the section needs to be update

[2020-02-15 08:18] satwikkansal commented on #182
yeah, that requires an update.

[2020-02-15 09:05] #182 closed

[2020-02-26 21:54] vorikkir opened #184 "Add translation for [LANGUAGE]"
Expected time to finish: [X] weeks. I'll start working on it from [Y].

[2020-02-27 19:54] gromovadarya90 opened #185 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 22:03] renata2216 opened #186 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:24] renata7738 opened #187 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 05:36] helen798 opened #189 "hytgfghjuyhghjuyg"
kjuyg juyghyg jhjuhgbhj jhghjhgvb

[2020-02-28 06:28] helen78989 opened #190 "I am looking for a guy to fuck ❤️"
I am looking for a guy to fuck ❤️

[2020-03-01 13:30] satwikkansal commented on #184
Seems like this issue is opened by mistake, let us know if it's a genuine by repopening the issue and providing the details.

[2020-03-01 13:30] #184 closed

[2020-03-21 00:13] dugu9sword opened #191 "be deepcopy"
### ▶   deepcopy cheats
Once you got a list of objects, and you want to make a deep copy of them...

[code]

**Output (Python version):**
[code]

#### 💡 Explanation:
The deepcopy module avoids recursive copy by keeping a memory of copied objects. If the some of the objects are with the same id, the deepcopied objects will share the same, too.
[code]

**Output (Python version):**
[code]

[2020-04-06 21:09] actionless opened #193 "The out of scope variable: mention `nonlocal`"
https://github.com/satwikkansal/wtfpython#-the-out-of-scope-variable

https://docs.python.org/3/reference/simple_stmts.html#grammar-token-nonlocal-stmt

[2020-04-12 20:48] bastelfasching opened #194 "Be github or not github"
Use github for webcontent to manage my content???

[2020-04-12 21:37] satwikkansal commented on #194
Sorry, but I didn't understood this issue

[2020-04-13 13:59] vuduclyunitn opened #195 "Add translation for [Vietnamese]"
Expected time to finish: [4] weeks. I'll start working on it from [04/13/2020].

[2020-04-13 14:38] satwikkansal commented on #195
Hi @vuduclyunitn

Thanks for considering this, feel free to ask any questions / doubts you face during the tranlation :)

[2020-04-14 04:15] bastelfasching commented on #194
Was only for meee... :POn Apr 12, 2020 23:38, Satwik Kansal <notifications@github.com> wrote:
Sorry, but I didn't understood this issue

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-16 16:16] satwikkansal opened #196 "Minor snippet: Statistical rounding"
Definitely not a Python-related wtf, but nice to know anyways

[code]

Explanation idea:
[code]

[2020-04-16 18:09] lflucasferreira commented on #196
That's very intriguing. 😱

[2020-04-17 06:32] deemoding commented on #196
[official doc here](https://docs.python.org/3/library/functions.html#round)

but, emmm... it seems bad :angry:

[2020-04-22 12:39] steffen19w23 opened #197 "Example: Unpacking with subscriptors"
Since the result of
[code]
was unexpected for me, I prepared a section.

[2020-04-26 08:59] docdyhr opened #200 "SSL: CERTIFICATE_VERIFY_FAILED"
It seems that the CLI version with '**pip install wtfpython -U**' no longer works! I got the following error when trying to install wtfpython:
[code]

[2020-04-26 18:07] #194 closed

[2020-04-26 18:32] satwikkansal commented on #200
Strange, I thought https://github.com/satwikkansal/wtfpython/commit/54883f5134896870436f716b849e935a23e23340 would have fixed the issue. Can you verify what version do you have installed

[2020-05-02 04:54] MatzeB opened #201 "List Equality"
[code]

Explanation: In most containers python assumes identical objects must be equal and does not even invoke a comparison function like `__eq__`.

[2020-05-02 04:55] MatzeB opened #202 "Another mangling example"
[code]

[2020-05-02 14:00] georgepsarakis commented on #201
@MatzeB as far as I can tell, unfortunately `NaN` objects generated by `float('nan')` don't even seem to be identical:

[code]

I found this great article that analyzes this behavior in detail: https://towardsdatascience.com/navigating-the-hell-of-nans-in-python-71b12558895b

[2020-05-10 21:08] docdyhr commented on #200
Still not workning.. with the same error message as above. python3 -m pip uninstall wtfpython:
Found existing installation: wtfpython 0.2.1

[2020-05-15 18:49] doersino opened #205 "Unicode variable name surprises"
Utter madness.

[code]

I'm not sure why this is happening – not all non-ASCII characters in identifiers are translated into their closest ASCII match, but some are. This is in Python 3, of course, since Python 2 doesn't support these kinds of identifiers.

(It's entirely possible that this WTF is already in the document, I <kbd>ctrl</kbd><kbd>F</kbd>'d for a few related terms but didn't find anyt

[2020-05-22 09:35] MarcinCiura opened #206 "Prehistory"
Hi Satwik! If you are interested in antediluvian times, check out https://github.com/MarcinCiura/6-gotchas :)
Cheers!

[2020-06-09 13:54] satwikkansal commented on #206
Oh nice, I was wondering what to do today, and I found this :)

[2020-06-09 20:03] vuduclyunitn commented on #195
Hi @satwikkansal, sorry for completing the translation late. I have completed the translation for the Vietnamese language at https://github.com/vuduclyunitn/wtfpython/blob/master/README.md. Please let me know how to proceed to integrate the translation to the main page of wtfpython. Thanks.

[2020-06-09 22:07] satwikkansal commented on #195
Hi @vuduclyunitn

Wow, thanks, that looks neat.

I'll take care of linking your repo to the English one and adding credits :) Meanwhile, I have a couple of minor requests,

- Could you please link to the English version in your repo (just like how the chinese version is linked at the top)
- If it's okay, can you change the name of your fork to `wtfptyhon-vi` so that it's easier for others to look

[2020-06-12 11:46] Yukti-09 opened #207 "create ex.txt"
i = 0
while i<=5:
  print(i,end=' ')
  i += 1
else:
  print(i,end=' ')

  OUTPUT:
  0 1 2 3 4 5 6

  Most languages do not allow an else statement without an if.
  However, python allows the else statement to be executed without the if provided the loop before it has not been terminated by a break statement.

[2020-06-14 05:11] #195 closed

[2020-06-14 05:12] satwikkansal commented on #195
Thanks @vuduclyunitn

I've published your changes in the above commit. Let me know if you see any glitches.

Once again, thank you so much, I hope you enjoyed translating the project :)

[2020-06-30 18:20] Jongy opened #208 "Performance impact of non-str dict keys"
CPython has a specialized dictionary lookup function for `str`-only keys. The first time a `dict` instance is accessed with a non-`str` key, it's modified so future lookups use the generic function. Performance imapct is observable:

[code]

This is non-reversible - the particular `dict` instance will keep using the generic function forever, even if non-`str` keys are removed.
[code]

I'll submit

[2020-07-01 16:35] satwikkansal commented on #208
Hi @Jongy, thanks.

This will be a good addition to the collection. Let me know when you've raised the PR.

[2020-07-02 22:33] steffen19w23 commented on #197
@satwikkansal no comment?

[2020-07-03 03:28] satwikkansal commented on #197
@steffen19w23 Thanks for your PR.

I loved the example, but, I see some scope of improvement in simplification and presentation. That's why I've left it as is, I'll make minor modifications in your PR and merge it when I do that next major revision. Hope that's okay.

[2020-07-10 16:47] #208 closed

[2020-07-11 20:53] Jongy opened #210 "Unexpected instance dict size increase"
Since [PEP 412](https://www.python.org/dev/peps/pep-0412/) (landed in Python 3.3/3.4), Python has support for split dictionaries: values and keys can be kept separately to allow for multiple dictionaries (with different values) to share the same keys, reducing memory usage. This was implemented solely for dictionaries holding instance attributes (as of today Python doesn't use this trick anywhere

[2020-07-24 07:04] Yukti-09 opened #212 "Wild Symbol"
Python has a wild symbol in sympy given by
[code]

[2020-07-25 03:44] Yukti-09 opened #213 "Dividing in python"
In python 2
[code]
OUTPUT:
[code]
In python 3
[code]
OUTPUT:
[code]

[2020-07-26 11:57] Yukti-09 commented on #207
@satwikkansal

[2020-07-26 11:57] Yukti-09 commented on #213
@satwikkansal

[2020-07-26 18:36] Yukti-09 opened #214 "Use of_ to get previous value"
We can make use of '_' to get the previous value

[code]
@satwikkansal

[2020-07-28 02:49] Yukti-09 opened #215 "Python has prettytables!"
Python has **prettytables** which is the coding equivalent of Siberia
[code]

[2020-07-29 07:55] satwikkansal commented on #215
prettytable isn't a built-in module, external libraries aren't covered in this project (except for one-two examples which use the library to show something specific to core python).

[2020-07-29 07:58] satwikkansal commented on #214
This is covered in the "Stubborn del operator" example,

<img width="861" alt="image" src="https://user-images.githubusercontent.com/10217535/88773131-5f791f00-d19f-11ea-8c5c-8f2c38b6ae06.png">

[2020-07-29 08:01] satwikkansal commented on #212
sympy is an external library. And I don't see any wtf element in this.

[2020-07-29 08:03] satwikkansal commented on #207
This is already covered in the for...what example.

[2020-07-29 08:13] satwikkansal commented on #210
Yes, the third case might be too contrived. But we can illustrate the add/remove of instance attributes and the change in the memory footprint.

I'll try to think of a succinct example to demonstrate this and add it in the next update. If you have any ideas / snippets handy, let me know :)

[2020-07-29 08:16] Jongy commented on #210
I'd be happy to write example snippets for the first 2 cases and post a PR (also IIRC I have some snippets demonstrating this somewhere)

[2020-07-29 08:17] satwikkansal commented on #210
Awesome, thanks, looking forward to your PR.

[2020-08-01 12:24] #210 closed

[2020-08-01 12:32] satwikkansal commented on #202
Interesting, I'm wondering what should be the right way to call `__greet` inside the `run` method then

[2020-08-01 12:37] satwikkansal commented on #201
Right, this one is covered in the nan-reflexivity example,

<img width="867" alt="image" src="https://user-images.githubusercontent.com/10217535/89101883-c6a60600-d421-11ea-8df3-acb1fde67f2e.png">

[2020-08-03 00:47] Eastsun commented on #215
BTW: pandas is enough to show beautify table and even more:

[code]

[2020-08-04 04:42] Yukti-09 opened #217 "Rounding in Python"
Code:
[code]
Output:
[code]
Why doesn't round(1.555, 2) give 1.56 as the output?

[2020-08-04 16:44] satwikkansal commented on #217
Duplicate of https://github.com/satwikkansal/wtfpython/issues/196

[2020-08-04 16:44] #217 closed

[2020-08-08 15:33] ahmedalsaidi44 opened #218 "Store in"

[2020-08-08 19:38] satwikkansal commented on #218
Seems like an issue created by mistake, closing it.

[2020-08-08 19:38] #218 closed

[2020-08-08 19:38] #214 closed

[2020-08-08 19:39] #207 closed

[2020-08-08 19:39] #212 closed

[2020-08-08 19:40] #215 closed

[2020-08-08 19:45] satwikkansal commented on #150
Closing this in the favor of above comment.

The expected behavior of `int` casting is to truncate the floating point which is exactly what's being done.

[2020-08-08 19:45] #150 closed

[2020-08-08 19:46] satwikkansal commented on #147
That's expected, I'd be rather surprised when this didn't throw an error.

[2020-08-08 19:46] #147 closed

[2020-08-08 19:50] satwikkansal commented on #213
This one is a well-known change between Python 2 to Python 3, readers would rather be annoyed if it is included at this stage. Moreover, we might be dropping Python 2 content in the future (see https://github.com/satwikkansal/wtfpython/issues/179).

So closing this due to the above reasons.

[2020-08-08 19:50] #213 closed

[2020-08-24 09:24] arthur-tacca opened #219 "Explain meaning of asterisk in heading titles"
A lot of the headings end in a asterisk e.g. "First things first! *" does but "Strings can be tricky sometimes" does not. This suggests a footnote but after quite a bit of searching I can't find one. Perhaps it means something else like "new" or "reader contributed". Please explain on the page otherwise there's not much point it being there and it's a bit frustrating.

[2020-08-24 14:37] satwikkansal commented on #219
Those were included for the returning readers whenever a major update was released. A quick way for them to just go over what's updated (and new) instead of going over the whole project again. This is mentioned in the [released notes](https://github.com/satwikkansal/wtfpython/releases/).

I see, I'll update it in the main page.

[2020-08-24 14:41] #219 closed

[2020-08-26 19:22] satwikkansal opened #220 "Add a meme?"
<img width="874" alt="image" src="https://user-images.githubusercontent.com/10217535/91348225-19949280-e801-11ea-9327-10f0cda64403.png">

[2020-08-30 13:56] Sasukethelast0 commented on #205
where is the issue?

[2020-08-30 14:02] doersino commented on #205
`r` and `𝕣`, while sort of representing the same character, are not the same symbols, so them resolving to the same internal value was a surprise to me. Other – not-fundamentally-different – combinations such as `R` and `r` or `A` and `Å` don't exhibit this behavior.

[2020-09-19 09:40] pochmann opened #222 "How to read chronologically?"
You suggest to read the examples chronologically, but how can I do that? I don't see any dates attached to them, and the asterisks show that you insert new ones all over the place, not just at the end or so.

[2020-09-19 15:50] satwikkansal commented on #222
Hi, by chronologically I meant sequentially, pardon my error, will fix it in the project.

Most of the examples in the project are self-contained. The ones that are dependent are ordered accordingly (with some self-contained examples in between). If you're reading the project for the first time, you don't need to worry asterisks, those are relevant when you're a returning reader and want to skim t

[2020-09-20 22:44] Jongy opened #223 "Changing the type of an object at runtime"
Surprisingly, Python allows you to change the `__class__` attribute of an object:

[code]

This example was rather simple, but things grow more complicated when inheritance is involved. On the other hand, this proves that Python instances are mere dicts... :). With a few exceptions though.

[2020-09-21 06:56] satwikkansal commented on #223
Wow, yes, it can get complicated with inheritance. This can also be a way to bypass any validations / attribute assignments that might happen in the `__init__` method of class B.

[code]

[2020-09-21 07:49] Jongy commented on #223
I can write an example snippet, and add some caveats of this "feature" (differences across Python versions, handling of `__slots__`, ...)

[2020-09-21 13:19] satwikkansal commented on #223
Sure, that'd be awesome, looking forward to your PR :)

[2020-09-29 19:51] KoustavCode opened #224 "Copy DEEP without deepcopy?"
list ticks for not using deep copy function to deepcopy

[code]
So, basically in the above example the variable `new_list_copy` is a shallow copy of  `new_list`. So changes made to the copied list reflected back to the original list.

[code]
_What did just happen then?_

In Python, one can easily deep copy a list without using the  *copy.deepcopy(new_list)*  just by using slicing, where any change

[2020-09-29 19:55] #224 closed

[2020-09-30 18:55] diptangsu commented on #193
I would love to add this to this repo!

[2020-10-01 06:41] satwikkansal commented on #193
Sure @diptangsu, Feel free to submit a PR for this.

[2020-10-01 14:08] amitShindeGit commented on #173
Thank you for pointing this out,made a PR for this.Happy to help.

[2020-10-01 14:44] satwikkansal commented on #173
Thanks @amitShindeGit

Closing the issue.

[2020-10-01 14:44] #173 closed

[2020-10-02 14:00] diptangsu commented on #193
I have submitted a [PR](https://github.com/satwikkansal/wtfpython/pull/228). I also made some extra changes. Let me know if I need to change something, I'll add the required changes and add another commit!

[2020-10-05 15:12] #193 closed

[2020-10-05 15:13] satwikkansal commented on #193
Thank you @diptangsu for going beyond just mentioning `nonlocal` and adding a nice example for it. Really appreciate it :)

[2020-10-05 16:19] diptangsu opened #229 "Eager execution of function parameters with mutable default arguments"
[code]
This is not a weird behaviour but might seem tricky to guess the output of. One might think the output would be
[code]

Would you like me to add this somewhere along with the explanation?

[2020-10-06 14:09] satwikkansal commented on #229
Default mutable arguments are  already covered in https://github.com/satwikkansal/wtfpython#-beware-of-default-mutable-arguments

[2020-10-06 16:10] diptangsu commented on #229
Yep! I know. I've read the whole thing xD

It's just that all the people I've shown this example to, have answered it wrong. This can be a potential follow up snippet to the mutable default args one. It's not the same since another concept is at play here, which is eager execution of function params, which happens in most languages but has potential to lead to some weird use cases, like in the exa

[2020-10-06 17:45] satwikkansal commented on #229
I'm not sure what this means in the context of the example you shared. Since the function returns `a` (which is shared across function calls), we're just printing the value twice. I'm not able to see an unexpected behavior here (apart from the default mutable argument catch).

[2020-10-07 08:23] diptangsu commented on #229
Yup!

It's not unexpected behavior at all. It's just an interesting example according to me because many people will get it wrong. It's obvious to you because you understand python well. It's also not a python specific issue based on what the reason for this is.

I'll close this issue.

[2020-10-07 08:23] #229 closed

[2020-10-09 11:22] vwas2 opened #230 "explain wrong for class var https://github.com/satwikkansal/wtfpython#-explanation-22"
[code]

explanation is wrong: if in object-inplace modify applies then third output should be 3 3 3, since B.x defaults to class var (B itself does not have x) and would increment the common x of A and C as well. but it doesnt

the `B.x += 1` is equiv to `B.x = B.x + 1`, thus B gets a new class var, see `dir(B)` and would propagate to `C(B)`

[2020-10-20 09:29] Syed-Mohtesham-Kamal opened #231 "The Almighty Walrus Operator"
Hey, @satwikkansal I would love to add the walrus operator example to the collection! It is a new feature in Python 3.8 and really makes python seamless!

[2020-10-20 10:06] satwikkansal commented on #231
The very first example of the collection is about the walrus operator

[2020-10-21 05:17] #231 closed

[2020-10-21 10:14] d3r1n commented on #179
**i guess Python 2 is *OutDated***

[2020-10-23 12:29] Jongy commented on #230
It is mentioned (perhaps too subtly) that "the `+=` operator modifies the *mutable* object in-place". Integers are immutable. They do not implement inplace addition. The difference between classes implementing inplace add and non-inplace add can be demonstrated by this:
[code]

Do note that a value is still assigned to `B`'s `__dict__`, it's just that this value is the same object as `A.x`: `A.x i

[2020-10-24 14:06] #230 closed

[2020-10-24 14:18] vwas2 commented on #230
to sum up:
mutable or not, in any case `+` or `+=` the assignment adds a __dict__ key;
if mutable dereference and mutate (eg [1,]) :P, if immutable (eg 1)  create one that fits the result;

[2020-10-24 20:44] Jongy commented on #230
Yup, that's right :)

[2020-10-24 21:27] Jongy opened #233 "Methods, classmethods and staticmethods"
The effects of descriptors on comparison and identity of methods:

[code]

with some more examples in [this SO answer](https://stackoverflow.com/a/18217024).

I can post a PR summarizing it.

[2020-10-26 15:12] imba-tjd opened #234 "About `Name resolution ignoring class scope`"
Original code:

[code]

I find the expression in `in` is bind to x in the class:

[code]

I guess it's the same as `Evaluation time discrepancy`.

[2020-10-27 09:25] d3r1n opened #238 "Add translation for [Turkish]"
Expected time to finish: [2] weeks. I'll start working on it from [10/28/2020].

[2020-10-27 09:25] #238 closed

[2020-10-27 18:17] satwikkansal commented on #233
That's interesting. We can possibly add following based on the SO answer you linked,

[code]

Looking forward to your PR :)

[2020-10-27 18:47] satwikkansal commented on #234
Interesting, I didn't think of it this way, here's the disassembled code

[code]

[2020-10-29 14:13] vwas2 opened #239 "tiny wtfs"
* when one grapheme becomes two unicodepoints, thus len(string) is two:
[code]
* despite added support for ordered dicts, the order does not matter when comparing:
[code]

*  `pow(4,-1, 3) == 4**-1 % 3`

[2020-10-29 16:10] satwikkansal commented on #239
Thanks for sharing these :)

The second one shows why using `OrderedDict` can still be useful in certain cases.

The third one actually throws an expception in Python 3.6, although it works fine with 3.8 or higher.

[2020-10-29 21:49] adamerose opened #240 "Relative imports"
I definitely think this repo should include an example about how messed up relative imports are in Python, just read this thread https://stackoverflow.com/questions/16981921/relative-imports-in-python-3

[2020-10-30 07:57] satwikkansal commented on #240
Yes, imports are definitely a missing part of this collection. Will add this in the next iteration for sure.

Also related: https://github.com/satwikkansal/wtfpython/issues/133

[2020-11-08 05:33] #233 closed

[2020-11-21 14:00] fgo0615 opened #242 "Add translation for [KOREAN]"
Expected time to finish: [3] weeks. I'll start working on it from [2020/11/21].

[2020-11-21 14:03] satwikkansal commented on #242
Hey @fgo0615, that's nice to know :) Feel free to check out https://github.com/satwikkansal/wtfpython/issues/128

A couple of people have attempted it previously, so you can probably build upon their work.

[2020-11-22 05:58] fgo0615 commented on #242
Oh I think @buttercrab finished this issue. So I close this issue. Thank you for your kindness.

[2020-11-22 05:58] #242 closed

[2020-12-02 10:33] tlandschoff-scale commented on #100
Out of curiosity I bisected this and found out, that this commit caused the regression in CPython 3.7:

https://github.com/python/cpython/commit/7ea143ae795a9fd57eaccf490d316bdc13ee9065

This relates to this ticket on bpo: https://bugs.python.org/issue29469

[2020-12-21 02:48] charles-l opened #245 "Schrödinger's variable"
### ▶ Schrödinger's variable *
The asterisk at the end of the title indicates the example was not present in the first release and has been recently added.

[code]

**Output (Python version):**
[code]

#### 💡 Explanation:
* Python doesn't actually bind the value of `target` in `f()`. It just creates a function that will look up `target` in the surrounding context.
* Since `target` will continue to

[2020-12-21 02:52] charles-l commented on #245
Maybe this is intuitive to other folks, but I got burned pretty badly by this one recently when writing some code that used closures. I would have thought that on the definition of `f()`, `target` would have been bound in the function. But that's not the case (as shown above).

[2020-12-21 08:34] satwikkansal commented on #245
Hi Charles, thanks for sharing this.

I think the concept overlaps with [The sticky output function](https://github.com/satwikkansal/wtfpython#-the-sticky-output-function) example, but I do like the title and certain parts of your explanation. So I think the best way out is to combine these two in the next release :)

[2020-12-23 03:14] charles-l commented on #245
@satwikkansal ahh, I missed that one. Merging them sounds good! Let me know if you want me to take a shot a combining the explanations.

[2020-12-23 11:47] satwikkansal commented on #245
@charles-l Sure, that'd be helpful, thanks

[2020-12-24 12:27] alirahimifachr opened #246 "Add translation for [Persian(Farsi)]"
hi,
if is it possible, i will translate this Repo to Persian.
do you have a advice for me?
thanks
arf

[2020-12-24 12:58] satwikkansal commented on #246
Hi @alirahimifachr

Sure, feel free to translate at your own pace.

Nothing specific as such, make sure to enjoy and learn as you go :)

w.r.t implementation, you can check out the existing translation issues to check how other contributors have done it https://github.com/satwikkansal/wtfpython/labels/translation

[2021-01-16 17:51] charles-l commented on #245
### ▶ Schrödinger's variable *
The asterisk at the end of the title indicates the example was not present in the first release and has been recently added.

[code]

**Output (Python version):**
[code]

The values of `x` were different in every iteration prior to appending `some_func` to `funcs`, but all the functions return 6 when they're evaluated after the loop completes.

2.

[code]

#### 💡 Exp

[2021-01-17 08:24] #245 closed

[2021-02-11 11:05] dan-t opened #248 "Weird variable scope in functions"
...    if x:
...       y = 1
...    print(f"y={y}")
...

y=1

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "<stdin>", line 4, in foo
UnboundLocalError: local variable 'y' referenced before assignment

[2021-02-11 11:12] dan-t commented on #248
And now with sensible formating ...

[code]

[2021-02-12 07:04] jatin-code777 opened #250 "Giving interviewers crazy ideas"
This repository unleashes potentially deadly information and ideas to interviewers.
Thus, it can become the potential cause of several interview candidates pulling their hair out, possibly reaching a state of madness

#### Some background:
![image](https://user-images.githubusercontent.com/33352338/107733446-13e42800-6d21-11eb-9bca-1cab0e62e71d.png)

As is visible, interviewers are encouraged by t

[2021-02-13 10:19] codeless00 opened #251 "Solving problems"
Hello I wanted to solve your  @problems.

[2021-02-13 15:21] JoseDeFreitas opened #252 "Add translation for Spanish"
Expected time to finish: 1 week. I'll start working on it when I get a response to this issue.

Hello 👋.
I'm a native Spanish speaker who has previously contributed to the translation of other open-source projects from English to Spanish. I found this project and thought it was interesting (especially for me as Python is my main programming language!) so it'd be a pleasure working on the translati

[2021-02-13 17:47] satwikkansal commented on #252
Hi @JoseDeFreitas

Thanks for considering translating this project :)

You can check out the existing translation issues to see how other contributors have done it https://github.com/satwikkansal/wtfpython/labels/translation

As long as you keep the example-ids (in the readme) intact, there shouldn't be much to worry about.

[2021-02-13 17:56] JoseDeFreitas commented on #252
Alright! I'll start working on it then. Thank you @satwikkansal!

[2021-02-13 20:40] jeru10 opened #253 "Add translation for [ARABIC]"
Expected time to finish: [X] weeks. I'll start working on it from [Y].

[2021-02-15 12:01] cajotafer commented on #252
Hi @JoseDeFreitas , I would like to help on this. Is there any way I could join?

[2021-02-15 15:45] JoseDeFreitas commented on #252
Hello @cajotafer!

See, I forked this repository (following the same thing the contributors for other languages did). This is my fork: https://github.com/JoseDeFreitas/wtfpython. I'm translating the text from the README file on the `master` branch (I'm at the line 708 and I skipped the "Table of Contents" section in order to translate that later so I can be more careful to match the titles/subtitl

[2021-02-18 05:12] chrismilson opened #255 "[Opinion] All-true-ation * is hard to read"
The explanation in [All-true-ation *](https://github.com/satwikkansal/wtfpython#-all-true-ation-)

Feels like verbal diarrhoea to me. Perhaps something like:

The second point is also a bit hard to follow; the use of `not` is difficult to understand on a first pass. I would suggest:

I am willing to make a PR for these changes. Just let me know.

[2021-02-18 08:45] satwikkansal commented on #255
I think you're right, it's confusing to follow now that I think about it, would appreciate the PR if you have time :)

Thanks @chrismilson

[2021-02-18 12:54] #255 closed

[2021-02-22 10:42] frenzymadness opened #257 "Python mutable strings"
This article might be a good candidate for a new code snippet: https://web.eecs.utk.edu/~azh/blog/pythonstringsaremutable.html

[2021-02-22 10:45] frenzymadness opened #258 "Interned/cached integer in a function"
Code example:
[code]
From this article: https://utcc.utoronto.ca/~cks/space/blog/python/PythonIsWithLiteral

[2021-02-22 11:54] satwikkansal commented on #258
Thanks @frenzymadness

Both the examples you shared (this one and #257) are very interesting. I'll add them in the next revision (unless someone else wants to raise a PR :)

[2021-02-24 10:03] GF-Huang opened #259 "The `rstrip` fucking behavior"
`'WKHS.US.TXT'.rstrip('.US.TXT')` will return `WKH` rather than `WKHS`.

[2021-02-25 07:23] satwikkansal commented on #259
Nice one, devs often confuse `rstrip` to behave like `removesuffix` method

[2021-02-25 12:26] #252 closed

[2021-03-11 06:09] jinto commented on #128
@josephwon0310 Can I continue the translation in my repo?

[2021-03-12 12:33] buttercrab commented on #128
Just for an update: It's almost done. 4 more sections to go. [link](https://github.com/buttercrab/wtfpython-ko)

[2021-03-12 14:11] guhcampos opened #262 "Boolean operators and dictionaries are weird"
I looked around the project and did not find this, so I decided to work on a patch. I'm not sure I have a reasonable explanation for this behavior though:

Boolean operators almost never work with dicts like you would expect them to. I've seen a lot of people expect a boolean output such as:

[code]

But that's not what really happens. Python is really wtfckery in this:

[code]

So empty dicts ret

[2021-03-16 10:13] satwikkansal commented on #262
Interesting,

looks like dicts have a different implementation of the and operator. But it's weird for sure, even if there's a different implementation of `and` and `or` I'd expect them to work like intersection and union.

Thanks for sharing this btw, I'll do more research and add this in the next iteration.

[2021-04-08 18:23] ch-yx opened #265 "Found a small problem"
I noticed the following sentence in your article .

according to the python documentation, the [] on the left of the equal sign looks like a `list`, but it's not.

---------------------------

`del [a,b,c]`
or
`del (a,b,c)`

Similarly, the [a,b,c] that follows the del is not a `list` neither.
---------------------------
[]=()
()=[]
[]=()=""
[]=()={}

[2021-05-06 21:32] LiquidFun opened #267 "Both round() and numpy.round() in Python 3 round to the nearest even number for *.5 numbers (i.e., round(0.5) == 0)"
In Python 3 `round()` and `numpy.round()` both round to the nearest even number whenever a number ends in .5:

[code]

I know there are already two closed issues discussing this ([1](https://github.com/satwikkansal/wtfpython/issues/217), [2](https://github.com/satwikkansal/wtfpython/issues/196)), but both only mention rounding to the n-th digit (`round(1.25, 1) == 1.2`) which does not feel as impa

[2021-05-09 12:44] satwikkansal commented on #267
I think you're correct, it is surprising that it does not always round to a lower number or higher number. Surprising because most people don't know about Banker's Rounding (including me, until now). And the fact that other languages have a different behaviour doesn't make it simpler. It is also subtle in the sense that no one would pay attention to it until their end calculations seem off or they

[2021-05-10 22:18] LiquidFun opened #269 "Would appreciate some more info in CONTRIBUTING.md"
When creating the previous snippet I was not sure about a couple of things:

* What is is this after every snippet title (`###`) in the README: ``? Should it be added manually or can it be ignored when creating new snippets?
* Where should new snippets be added? Top/bottom of section, doesn't matter?
* What's the difference between the sections (the first two feel very similar)?
* Before the table

[2021-06-13 10:01] satwikkansal commented on #265
Interesting, can you share the relevant parts of the documentation

[2021-06-24 15:10] LiquidFun opened #270 "NaN breaks sorting in Python"
While reading some issues for Python I stumbled upon this weird `NaN` behaviour.

When supplying `NaN` to max or min, it will return `NaN` if it is the first argument:

[code]

It's essentially to do with `NaN` always returning `False` in comparisons with other numbers:

[code]

The implementation of both min and max take the first element as the current min/max value and then compare every other

[2021-06-25 16:48] satwikkansal commented on #270
Hi @LiquidFun thanks for the insightful write-up, I agree that this will be a good addition to the collection.

Feel free to create a PR whenever you get time, I'm looking forward to it :) And yes, it makes sense to add it right after the nan-reflexivity example.

[2021-06-25 16:52] #251 closed

[2021-06-25 16:52] #253 closed

[2021-08-08 03:27] buttercrab commented on #128
We've finished translating!

[2021-08-09 11:10] buttercrab opened #271 "Typo in: Bloating instance `dicts`"
In [Bloating instance `dicts`](https://github.com/satwikkansal/wtfpython#-bloating-instance-dicts-),

I think it should change to

[2021-08-09 12:43] #271 closed

[2021-08-09 12:49] satwikkansal commented on #128
That's great news @buttercrab!

I just added a reference to your the project in the list of tranlsations. I hope the translation process was informative and fun for all those who contributed to it.

Optionally, you can also add an interactive google colab notebook to your project (currently it links to the colab notebook for the English version). You can check Spanish translation or any other tran

[2021-08-09 12:53] buttercrab commented on #128
Great! I'll start working on google colab.

[2021-08-25 07:05] hp77-creator opened #272 "Is this normal behaviour in CLI mode?"
![wtfpython-issue](https://user-images.githubusercontent.com/24816726/130742424-32f6f90d-ef85-4075-83b6-9b3f5db3af35.png)
I installed the python package and ran the command and this is what I see!

[2021-08-31 10:37] AkshitMehra1 opened #273 "Calling the function without calling it"
### ▶ Calling the function without calling it

Make a file test.py
Add the following code
[code]

Make another file called try.py
Add the following code and then run this file
[code]
**Output**

See without even calling the function we get the ouput.

#### 💡 Explanation:
This is the magic of import statement in python. Whenever we import a file all the code that is outside of main runs. This is wh

[2021-10-02 13:12] Mateotola opened #275 "airodump-ng mon0"

[2021-10-30 17:26] #275 closed

[2021-11-17 19:07] akdhd9 commented on #272
د

[2021-12-21 21:03] ansuleymanova commented on #118
@satwikkansal Hey! I'd love to contribute to Russian translation, but nagayev's fork is really behind. How would you like me to approach this?

[2021-12-21 21:04] 1033786579 commented on #118
您发给我的信件已经收到。我会尽快查看邮件。谢谢!

[2021-12-23 07:44] satwikkansal commented on #118
Hey @ansuleymanova !

Thanks for considering to translate :) I understand that other forks are quite outdated, and I think it makes sense to start afresh. You can check out this [link](https://github.com/satwikkansal/wtfpython/issues?q=label%3Atranslation+) to see how other people did it. And if you have any questions, I'm happy to help!

[2022-01-05 08:28] Lavedonio opened #278 "Add translation for Portuguese - Brazil"
Expected time to finish: 4 weeks.

I'll be working on my forked version at: https://github.com/Lavedonio/wtfpython-pt-br

[2022-01-05 12:42] satwikkansal commented on #278
Awesome, thanks @Lavedonio , if you need any help let me know :)

[2022-01-07 21:13] ShoTTaJonson opened #279 "Wtf python"
Что-то интересное

[2022-01-08 22:16] IamMusavaRibica opened #280 "Unicode ligatures in variable names (suggestion)"
### ▶ Weird unicode ligatures behaviour
Python interpreter interprets unicode ligatures as two or more characters they are made of. If we explicitly declare variables using globals() it doesn't switch. This example uses ﬁ ligature
https://en.wikipedia.org/wiki/Ligature_(writing)#Latin_alphabet

**Output (python 3.9):**
[code]
Variable named ﬁg with ligature ﬁ gets saved with both the name of the l

[2022-01-08 23:32] IamMusavaRibica commented on #273
I don't really understand this one, you are literally calling a function here
![image](https://user-images.githubusercontent.com/65848142/148663458-1d060c7a-d146-4a48-b848-586f9f69b0bb.png)

[2022-01-09 06:39] soft9000 commented on #280
Tried it on 3.9.7. Worked as expected:

6

7

[2022-01-09 07:06] AkshitMehra1 commented on #273
Actually, I am not running this file. I ran another file in which this file is imported and this code executes automatically.

[2022-01-09 10:29] sebix commented on #280
@soft9000 Not sure if I understand your comment correctly. @IamMusavaRibica point is, that this behaviour you describe does not work if the variable contains ligatures.

I can confirm the behaviour on Python 3.8. Maybe report this as bug at https://bugs.python.org/ instead to check if it's intended behaviour?

[2022-01-09 10:42] sebix commented on #273
That is absolutely expected behaviour. Code is executed upon import.

[2022-01-09 12:33] IamMusavaRibica commented on #280
Exactly. My guess is that interpreter takes it as two separate characters. Which is entirely incorrect to me because len() of a ligature is 1. If globals are modified directly then the ligature is retained

[2022-01-09 12:37] IamMusavaRibica commented on #273
Exactly. And the output goes to the main file's sys.stdout, not anywhere else

[2022-01-18 15:11] M-S-10 commented on #220
![1_Ud_bNdeWPf4iN1EcydaDFA](https://user-images.githubusercontent.com/69849348/149963918-58bdeae4-1856-4f54-8fa0-f3b63f4ded31.png)

[2022-01-18 22:23] giannissanto opened #281 "Python"

[2022-01-19 04:26] #281 closed

[2022-01-20 04:49] yugr commented on #270
To be fair same behavior is true [for other languages](https://stackoverflow.com/a/60139924/2170527) because NaN breaks weak ordering axioms which are mandated by sort routines.

[2022-02-14 06:03] 1interceptor3 commented on #118
@satwikkansal hello, i emailed you. I'd better start translating from the beginning. how do I do it right, make a fork and change it?

[2022-02-14 06:03] 1033786579 commented on #118
您发给我的信件已经收到。我会尽快查看邮件。谢谢!

[2022-02-14 06:45] satwikkansal commented on #118
Hi @1interceptor3 , yes you can make a fork and do the translation there. You can see how other people have done it in the old issues https://github.com/satwikkansal/wtfpython/issues?q=is%3Aissue+label%3Atranslation

If you're stuck on anything or have any questions, you can let me know :)

[2022-03-09 02:18] robertparley opened #282 "Update translation for Chinese"
[EN]
Expected time to finish: 3 weeks ago.
The new version is coming. I already create a new pull request to wtfPython-cn.
If you want to read it right now.
Welcome to https://github.com/robertparley/wtfpython-cn
[CN]
更新的中文版已经向 wtfPython-cn提交了pr
想抢先阅读的小伙伴欢迎访问 https://github.com/robertparley/wtfpython-cn

[2022-03-09 03:45] satwikkansal commented on #282
Hi @robertparley thanks for updating the translation.

Let me know once your translation is complete. The ideal scenario would be to get your changes merged in original fork, but if the author of original fork is unavailable, I can like your fork directly.

[2022-03-09 03:46] 1033786579 commented on #282
您发给我的信件已经收到。我会尽快查看邮件。谢谢!

[2022-03-15 07:03] robertparley commented on #282
Finished! I'm waiting for merging.
Thanks for your reply! @satwikkansal

[2022-03-15 12:43] satwikkansal commented on #282
Awesome, thanks @robertparley I really appreciate your efforts!

I'll link your fork to the English version page if it doesn't get merged in a week.

btw if you like, you can also add an interactive version, to do that you can simply do this,

$ cd irrelevant
$ python notebook_generator.py

This shall output a jupyter notebook in Chinese if you run it in your repo. You can commit the updated noteb

[2022-03-21 02:53] robertparley commented on #282
OK.
Let me try to commit the notebook.
But I can't access the Google colab now.

[2022-03-21 03:41] satwikkansal commented on #282
I see you can also use https://mybinder.org/ , if that's not working either, having a notebook in the repository is okay too.

[2022-04-04 10:33] satwikkansal commented on #282
Hi @robertparley, looks like the old repository owner didn't respond, I have pointed the English repo to your fork directly, thanks for your work!

[2022-04-04 10:33] #282 closed

[2022-04-04 10:34] 1033786579 commented on #282
您发给我的信件已经收到。我会尽快查看邮件。谢谢!

[2022-04-04 10:49] robertparley commented on #282
@satwikkansal OK. Thank you!😬

[2022-04-05 04:44] basabkar896 opened #283 "🌕 Moon importance in vedic astrology"
https://astrobasab.blogspot.com/2022/03/moon-importance-in-astrology.html

[2022-04-05 07:31] ByteEater-pl opened #284 "Can't really the chicken-egg problem be reproduced in pure Python?"
The explanation of "The chicken-egg problem" says:

But it seems that's easy with `__instancecheck__` and `__subclasscheck__`. Or am I mistaken?

Additionally, one occurrence of "python" has a small "p".

[2022-04-19 20:06] ankitbourasi0 opened #285 "Add Translation for Language HINDI"
Expected time to finish: [6] weeks. I'll start working on it on [24/04/22].

[2022-04-19 20:07] 1033786579 commented on #285
您发给我的信件已经收到。我会尽快查看邮件。谢谢!

[2022-04-20 12:51] satwikkansal commented on #285
Thanks, @ankitbourasi0 ! let me know in case you need any help. You can check out issues of existing translations for reference.

[2022-04-20 20:11] bratkartoff opened #286 "Statements in class definitions"
### ▶ Yes, this is possible *
[code]

**Output:**
1.
[code]
2.
[code]

#### 💡 Explanation:
Unlike some other languages, class definitions in python can include control statements.
Because `__init__` is deleted if the correct password is entered (example 2), it does not end up in the class object, so the result is equivalent to
[code]

[2022-04-21 04:57] satwikkansal commented on #284
Yeah, I think the wording of the explanation is a bit ambiguous. Yes, you can override these methods to whatever logic you want. But it is not possible to achieve the said behaviour with their default implementation.

[2022-04-21 04:57] #279 closed

[2022-05-11 16:11] JoseDeFreitas opened #287 "Removal of the Spanish translation"
Hello. For personal reasons, I decided to delete the repository with the Spanish translation I made (see PR #252). The link in the README file now points to a 404 error page. Nonetheless, I saved the page in web.archive.org, if you want to copy and paste it in another repository or file ([link here](https://web.archive.org/web/20220511161045/https://github.com/JoseDeFreitas/wtfpython-es)). Sorry f

[2022-05-11 16:12] 1033786579 commented on #287
您发给我的信件已经收到。我会尽快查看邮件。谢谢!

[2022-05-31 13:31] kallipattti opened #288 "If you could give the reason why this behaviour it would be much better,"
If you could give the reason why this behaviour it would be much better,  I could not see any reason why that output is.

-A

[2022-05-31 13:33] kallipattti commented on #288
Let the reply be in english if possible

[2022-05-31 14:19] longqzh commented on #288
It's just a bot

[2022-05-31 14:23] pzuehlke opened #289 "Add translation for Portuguese"
Hi satwikkansal, I would like to translate the README section to Portuguese, if possible. I noticed only after initially raising the issue that there is already an open issue regarding this (# 278) by a different user. Could you clarify what the current status of that person's work is before I commit myself to the translation? If the user who had raised the issue is already working on it, I think

[2022-06-01 03:39] satwikkansal commented on #278
Hi @Lavedonio

It's been a while. Are you still planning to work on the translation?

[2022-06-01 03:42] satwikkansal commented on #289
Hi @pzuehlke

Thanks for considering! I have followed up with the #278 author (by the looks of his fork it seems he hasn't started), I'd recommend that if we don't get a response within 5 days, feel free to go ahead and start the translation :)

[2022-06-01 18:57] pzuehlke commented on #289
Hi @satwikkansal ,

Great, thanks for the quick reply! Let's proceed as you suggested.

[2022-06-02 08:04] danielfleischer opened #291 "How NOT to create nested lists"
I have a nice example which confused me in the past; it's probably a corollary of some other examples already here but it's so simple I think it's worth presenting.

Here's a bad way of creating a nested list:
[code]

My expectation was
[code]
but of course the answer is
[code]
because `[]` is the same object.

A better way to create a nested list is using list comprehension:

[code]

I can create

[2022-06-02 10:05] satwikkansal commented on #291
Hi, thanks for the suggestion!

I think this is mostly covered in https://github.com/satwikkansal/wtfpython#-a-tic-tac-toe-where-x-wins-in-the-first-attempt

[2022-06-02 10:10] danielf-amobee commented on #291
Oops, I missed it when scanning for similar patterns.

Feel free to close. Thanks!

[2022-06-02 10:11] satwikkansal commented on #291
Thanks, appreciate the effort :)

[2022-06-02 10:11] #291 closed

[2022-06-03 05:52] Lavedonio commented on #278
Hey @satwikkansal.

Yeah, I do plan to finish the work I started. I went about 70% of the way (I stop right after the beginning of "The Hidden treasures" section), when I got caught up in a bunch of other stuff from my personal and professional life.

This will be a free weekend to me, so I will resume from where I stopped and try to finish the rest of it until Sunday.

[2022-06-04 08:11] lcrmorin opened #293 "Why ~True evaluate to -2 ?"
I don't see in the list. Working in a jupyter notebook ~True evaluate to -2. ( ~np.array(True) correctly evaluate to False).

Can someone explain ? Does it need to be added in the list ?

[2022-06-04 15:01] satwikkansal commented on #293
Thanks for the suggestion.

`~` is a [bitwise NOT](https://en.wikipedia.org/wiki/Bitwise_operation#NOT) operator, which essentially inverts all the 1s and 0s in the binary representation of the operand.  The int value of True is `1`.  So essentially what you're seeing is `~1`, which is -2.  Why `~1` is -2 needs a bit tricky to explain. The negative numbers are internally represented as two's compl

[2022-06-04 15:36] lcrmorin commented on #293
Thanks for the explanation. This is frightening as I might have used this before...

[2022-06-06 19:08] Contrastellar commented on #74
I figured I'd throw my hat in here -- I wouldn't mind tackling this issue (following the ./CONTRIBUTING.md guide). ^.^

[2022-06-06 20:54] pzuehlke commented on #289
Hi again @satwikkansal, I noticed that the author of issue #278 replied last Friday that he is almost finished with the translation, so I am closing this issue. Best regards!

[2022-06-06 20:54] #289 closed

[2022-06-07 04:04] satwikkansal commented on #74
Hey @Contrastellar, sure, would appreciate your help! :)

[2022-06-07 04:05] satwikkansal commented on #289
@pzuehlke I see, just checked that, thank you anyway for considering translating this project :)

[2022-06-07 15:50] ariasuni commented on #74
Just noticing this again, more than 4 years later, oops.

Some pictures having a kind of greyish background, that could be generalized.

Unfortunately I don’t have much time, but hopefully @satwikkansal can do that :slightly_smiling_face:

[2022-06-07 22:32] Contrastellar commented on #74
Time doesn't exist during the pandemic, its okay!

I picked something lighter than the background of my GitHub, and something not super bright eitehr

Before --
![image](https://user-images.githubusercontent.com/8060101/172493924-c9597d8f-b0c2-41b2-a571-7fae2d19c4d5.png)

After --
![image](https://user-images.githubusercontent.com/8060101/172493785-7322fce7-c5ea-4254-a5a3-d95ecc09f0a2.png)

If thi

[2022-06-08 04:27] satwikkansal commented on #74
I love the alt-texts! However, the images are unreadable on the light theme now :)
<img width="837" alt="image" src="https://user-images.githubusercontent.com/10217535/172531529-d0745387-fe4d-484b-b923-997d13392396.png">

[2022-06-09 08:48] carloocchiena opened #294 "email links for NL and ebook not working"
Seems like both forms for pdf version and email subs are not working.
the button on the form seems to be literally not clickable
tried with many emails address and browser (chrome brave edge)
I'm opening an issue since a) i'd like to subscribe b) probably you are losing good leads

[2022-06-09 11:34] satwikkansal commented on #294
Yikes, I just realised they've been dead since 2021 Feb!! So now missing more than a year worth of people who might have been interested :(

Anyways, thanks so much for highlighting it, I have fixed the links, and they should be functioning fine now.

Let me know if it still isn't working :)

[2022-06-09 11:41] carloocchiena commented on #294
Now it's fine and working! thank you!

[2022-06-09 11:41] #294 closed

[2022-06-10 15:47] Contrastellar commented on #74
Oh wack. I'm about to go out of town this weekend, but I'll take a peek at it when I get back. ^^

[2022-06-10 19:33] achoruzy opened #295 "Add translation for POLISH"
Expected time to finish: ~8 weeks. I'll start working on it from 11.06.2022.

Hey,
It would be amazing to translate your project to Polish language. Very helpful stuff, and during that work a lot to learn for me 🧑‍🏭

As I understood: `fork -> 3.0 -> translating -> inform when done`, right?

[2022-06-11 10:32] satwikkansal commented on #295
Hey @industArk

Thanks for considering translating.

And yes, you got it right!

I hope you learn interesting stuff and have fun translating!

[2022-06-21 20:03] spielzeugland opened #296 "Solving simple equations"
### ▶ Solving simple equations *

[code]

**Output (>= 3.6):**
[code]
Nice, Python can solve simple equations!

However, it does not work when dividing by other numbers. Why?

[code]

#### 💡 Explanation:
The colon character is not a mathematical operator but the syntax for variable annotations introduced with [PEP-526](https://peps.python.org/pep-0526). It aims to provide type hints for IDEs and o

[2022-07-21 07:52] satwikkansal commented on #296
I agree with @varunvora, what is the basis for this?

[2022-07-21 10:38] spielzeugland commented on #296
Of course it wasn't designed for it :-) It's also not working. It was more meant to be a joke like the existing "Teleportation" sample. But I think it's worth mentioning this for two reasons:

1. advertisement for type annotations, which are powerful but unfortunately not well known feature (as you put it) especially in larger projects.
2. it is valid syntax and might lead to issues. I once refact

[2022-07-24 18:03] varunvora commented on #296
I see. There is a potential for errors if you do not know about type annotations. But if you look at the examples in README, this is not really a wtfpython example. Most examples show valid syntax but unexpected/counterintuitive output.

The examples you described are interesting because Python should have reported this as a syntax error but instead allows it. Not really a wtf in my opinion.

[2022-07-27 15:19] #246 closed

[2022-07-29 20:11] spielzeugland commented on #296
That's exactly the point, it is valid python syntax. Unfortunately the specification does not describe the semantic of the type hint. Therefore the interpreter will not complain. And yes this was really a WTF python moment for me if you will.

[PEP-526](https://peps.python.org/pep-0526/#other-uses-of-annotations)

[PEP-3107](https://peps.python.org/pep-3107/#fundamentals-of-function-annotations)

[2022-08-02 06:06] satwikkansal commented on #296
hmm, I think type annotations can be mentioned as a part of https://github.com/satwikkansal/wtfpython#-needles-in-a-haystack-

I frequently make the mistake of mixing `:` and `=` while working with Pydantic / dataclasses, for example

[code]

I have made mistakes like this in rush, and I have seen similar ones in code reviews. Of course, it's a valid class definition, but the outcome is unintended

[2022-08-03 10:52] industArk commented on #295
Hey @satwikkansal
Unfortunately, haven't managed to translate the project yet. I'm only about 2/3 of it due to other 'for living' activities around.
But still working on when able. Will try to find someone to help me progress with that quicker.

A lot of interesting stuff learned already - the project has its worth for sure 🧠

[2022-08-03 12:49] satwikkansal commented on #295
Hi @industArk

No worries, thanks for the heads up, maybe you can share link to your fork here, and if someone's interested in pairing up, they can comment :)

[2022-08-05 10:35] industArk commented on #295
Here it is
https://github.com/industArk/wtfpython_PL

[2022-08-07 04:47] frontdevops opened #297 "Add translation for Russian"
Expected time to finish: 2 weeks. I'll start working on it from next week.

[2022-08-09 10:25] satwikkansal commented on #297
Hey @frontdevops

Thanks for considering translating the project to Russian. Please check https://github.com/satwikkansal/wtfpython/issues/118 , some people have attempted it, so I think you can get a headstart from their forks :)

Let me know if you need any help.

[2022-08-09 14:16] frontdevops commented on #297
Hi! I started translating. I looked up issue 118. It's from 2019. And since the translation still doesn't exist - I'd like to finish it and send a pool requester. I've already started. I hope to finish it as planned.

https://github.com/frontdevops/wtfpython

[2022-08-10 07:05] satwikkansal commented on #297
Got it, looking forward to it!

[2022-08-18 13:09] frontdevops commented on #297
I translate 50% of all
And I continue... ;)

https://github.com/frontdevops/wtfpython

[2022-09-01 12:34] wyuenho opened #298 "Structural Pattern Matching Regular Expression WTF"
[code]

The reason is DIGIT is treated as a [capture pattern](https://peps.python.org/pep-0634/#capture-patterns), and the variable is thus reassigned in the case clause. DIGIT is assigned to "1" first, and then another variable *i* was created and the value of DIGIT, which now holds "1", is assigned to it.

[PEP 634](https://peps.python.org/pep-0634/) does not define regular expression as a valid

[2022-10-11 07:05] 1033786579 commented on #296
您发给我的信件已经收到。我会尽快查看邮件。谢谢!

[2022-11-17 21:12] merriam opened #301 "Deep Down, explain or remove example"
This example:

        True

1.  Is not explained.
2. Has result contrary to comment.
3. May not be explainable.

It may not be explainable because the documentation of [`__hash__`](https://docs.python.org/3/reference/datamodel.html#object.__hash__) is borked.  It never discusses what the instance entails.  It also adds the bizarre restriction to user defined hash and equality functions that "`x==

[2022-11-18 20:48] merriam commented on #301
In retrospect, maybe the example could be expanded and explained.

[code]

 The `WTF()` is created, used by `hash()`, then discarded.  The memory location is then reused for `More_WTF()`.  `hash()` on an instance hashes only its `id()`.

[2022-11-19 11:32] satwikkansal commented on #301
Thanks for starting the discussion, I think

1. It's because of memory reuse, which is mentioned in the explanation.
2. When you say the result is contrary, do you mean `hash(WTF()) == hash(WTF())` returns False?
3. I agree that the example set-up is contrived, and even overlaps with others, but it was done on purpose. If more people think that's not a constructive way, I can change that in the ne

[2022-11-25 20:53] merriam commented on #301
Thank you for thinking about5 this.

The issues is 'equivalence'.   By default, instances use `is`.  To make them compare, you add an `__eq__`, which is supposed to implement `a == b` in such a way as:
* `a == a`, `a == b implies b == a`, `a ==b and b==c implies a == c`.  In `Disorder within Order`, you implement a "permissive equality" across types, where `a ==b and b == c does NOT imply a == c`.

[2022-11-27 11:11] satwikkansal commented on #301
I think thats's a good way to explain it.

Also, thanks for sharing your notes :)